html {
  @include tablets {
    font-size: 14px;
  }

  @include phones {
    font-size: 13px;
  }
}

body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
    max-width: 100%;
}