@font-face {
    font-family: 'swanky';
    src: url('../fonts/swanky/swanky.eot');
    src: url('../fonts/swanky/swanky.eot?#iefix') format('embedded-opentype'),
         url('../fonts/swanky/swanky.woff2') format('woff2'),
         url('../fonts/swanky/swanky.woff') format('woff'),
         url('../fonts/swanky/swanky.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometria';
    src: url('../fonts/geometria/geometria.eot');
    src: url('../fonts/geometria/geometria.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometria/geometria.woff2') format('woff2'),
         url('../fonts/geometria/geometria.woff') format('woff'),
         url('../fonts/geometria/geometria.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometria-bold';
    src: url('../fonts/geometria/geometria-bold.eot');
    src: url('../fonts/geometria/geometria-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometria/geometria-bold.woff2') format('woff2'),
         url('../fonts/geometria/geometria-bold.woff') format('woff'),
         url('../fonts/geometria/geometria-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometria-light';
    src: url('../fonts/geometria/geometria-light.eot');
    src: url('../fonts/geometria/geometria-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometria/geometria-light.woff2') format('woff2'),
         url('../fonts/geometria/geometria-light.woff') format('woff'),
         url('../fonts/geometria/geometria-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geometria-medium';
    src: url('../fonts/geometria/geometria-medium.eot');
    src: url('../fonts/geometria/geometria-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geometria/geometria-medium.woff2') format('woff2'),
         url('../fonts/geometria/geometria-medium.woff') format('woff'),
         url('../fonts/geometria/geometria-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}