.about__title {
	text-align: center;
}

.block-title {
	font-size: 2.1875em;
	padding: 1em 1.7em;
	display: inline-block;
	font-family: "Roboto", sans-serif;
    font-weight: bold;
	color: $gray;
	position: relative;
	text-transform: uppercase;
	max-width: 70%;
	text-align: center;
	
	&:after, &:before {
		content: "";
		display: block;
        @include centered(y);
		background: #cacbc8;
		width: 0.63em;
		height: 0.143em;
		
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}
}
