.contacts {
    width: 380px;
    background: rgba(#fcfcfc, .85);
    border-radius: 10px;
    @include centered();
    padding: 3em 2.375em 2.8em 2.1875em;
    
    .block-title {
        color: $gray;
        max-width: 100%;
        text-align: center;
        display: block;
        text-align: center;
        padding: 0;
        line-height: 1;
        margin-bottom: 1em;
        
        &:before {
		    left: 5%;
            background: $gray;
        }

        &:after {
            right: 5%;
            background: $gray;
        }
    }
}

.contacts__data {
    color: $gray;
    font-weight: 500;
    padding: 0.78em 0 0.78em 3.125em; //right 2.125em
    width: 11.25em;
    margin-left: 3em;
    
    &-skype {
        background: url("../img/icons/svg/skype_green.svg") no-repeat;
        background-position: 0 center;
    }
    
    &-email {
        background: url("../img/icons/svg/mail_green.svg") no-repeat;
        background-position: 0 center;
    }
    
    &-tel {
        background: url("../img/icons/svg/phone_green.svg") no-repeat;
        background-position: 0 center;
    }
}

@media screen and (max-width: 768px) {
    .contacts {
        top: 40%;
    }
    
    .contacts__data {
        margin-left: 5em;
    }
}

@media screen and (max-width: 480px) {
    .contacts {
        width: 100%;
        border-radius: 0;
        top: 20%;
        padding: 0;
        background: rgba(#fcfcfc, .5);
    }
}








