.hero {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.hero__bg {
	top: 0;
	width: 100%;
	@include centered(x);
    
    img {
        display: block;
        max-width: 100%;
    }
}

.hero__container {
	@include centered(y);
    position: relative;
	width: 100%;
}

.hero__container {
	@include centered();
    text-align: center;
}

// ============= MEDIA =============

@media screen and (max-width: 1100px) {
    .hero__bg {
        width: 120%;
    }
}

@media screen and (max-width: 930px) {
    .hero {
	    height: 37.5em;
    }
 
}

@media screen and (max-width: 860px) {
    .hero__bg {
        width: 130%;
    }   
}

@media screen and (max-width: 800px) {
    .hero__bg {
        width: 135%;
    }   
}

@media screen and (max-width: 768px) {
    .hero {
        height: 31.56em;
    }    
}

@media screen and (max-width: 580px) {
    .hero__bg {
        width: 140%;
    }   
}

@media screen and (max-width: 500px) {
    .hero__bg {
        width: 145%;
    }   
}

@media screen and (max-width: 480px) {
    .hero {
        height: 34.75em;
    }
    
    .hero__bg {
        width: 180%;
    }
}

@media screen and (max-width: 400px) {
    .hero__bg {
        width: 200%;
    }
}

@media screen and (max-width: 360px) {
    .hero__bg {
        width: 220%;
    }
}
