.hero {
	height: 37.5em;
	overflow: hidden;
	position: relative;
}

.hero__bg {
	top: 0;
	width: 100%;
	@include centered(x);
    
    img {
        display: block;
        max-width: 100%;
    }
}

.hero__container {
	@include centered(y);
    position: relative;
	width: 100%;
}

.hero-title-pic {
	@include centered();
}

