.reviews {
	min-height: 700px;
    height: 1280px;
	background: url("../img/content/reviews.jpg") center center no-repeat;
	background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    
    .section-title {
        display: block;
        width: 40%;
        margin: 0 auto;
        text-align: center;
        box-sizing: content-box;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }
}

.reviews__man {
    width: 45%;
    margin: 0 auto 3em;
    display: flex;
    color: $gray; 
    
    .man {
        min-height: 250px;
        margin-top: 1em;
        padding-top: 2.5em;
        background: url("../img/icons/svg/quote.svg") no-repeat;
        background-size: 33px;
        flex: 1;
        line-height: 1.625;
        position: relative;
    }
    
    &1 {
        margin-right: 0.5em;
    }
    
    &2 {
        margin-left: 0.5em;
    }

}

.reviews__man-info {
    display: flex;
    margin-top: 1em;
    align-items: center;
    position: absolute;
    bottom: 0;
    
    .info-image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 3em;
    }
    
    .info-name {
        color: #20b5a1;
    }
}

.reviews__button-up {
    display: block;
    width: 26px;
    height: 16px;
    @include centered("x");
    bottom: 210px;
    opacity: 0.5;
    
    &:hover {
        opacity: 0.7;
    }
}

// === STATUS ===
.status {
    display: none;
    width: 280px;
    height: 112px;
    background: #fff;
    position: fixed;
    text-align: center;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.status__text {
    margin-top: 20px;
    color: #373e42;
    opacity: 0.8;
}

.status__btn {
    width: 38%;
    height: 40px;
    line-height: 40px;
    background: #00bfa5;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: 0.3s all;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    border-radius: 5px;
    
    &:hover {
        background: #05a58f;
    }
}

//============MEDIA================
@media screen and (max-width: 1412px) {
    .reviews {
        height: 1400px;
    }
}

@media screen and (max-width: 1340px) {
    .reviews__man {
        width: 70%;
    }
}

@media screen and (max-width: 865px) {
    .reviews__button-up {
        display: block;
        bottom: 250px;
    }
}

@media screen and (max-width: 768px) {
    .reviews {
        height: 1200px;
        
        .section-title {
            width: 70%;
        }
    }
    
    .reviews__man {
        width: 95%;
    }
    
    .status__text, .status__btn {
        font-size: 15px;
    }
}


@media screen and (max-width: 715px) {
    .reviews {
	    height: 1300px;
    }
}


@media screen and (max-width: 480px) {
    
    .reviews__man {
        flex-direction: column;
        
        .man {
            min-height: 190px;
            background-position: center 0;

        }
        
         &1 {
            margin-right: 0;
        }
    
        &2 {
            margin-left: 0;
        }
    }
    
    .reviews {
        height: 1350px;
        
        background-position: center 150px;
        
        .section-title {
            width: 80%;
            box-sizing: border-box;
            font-size: 3em;
            padding: 0;
            margin-top: 1em;
        }
    }
}

@media screen and (max-width: 447px) {
    .reviews {
        height: 1450px;
    }
    
    .reviews__button-up {
        bottom: 350px;
    }
}

@media screen and (max-width: 360px) {
    .status {
        width: 90%;
    }
}






















































