.section-title {
	font-size: 3.9em;
	color: #373e42;
	text-align: center;
	padding: 0.7em 1.25em;
	display: inline-block;
    background: url("../img/decor/about_header.png") no-repeat;
	background-size: contain;
    background-position: center 30%;
	font-family: "Lobster", sans-serif;
	position: relative;

	&:before, &:after {
		content: "";
		display: block;
		width: 22px;
		height: 5px;
		@include centered(y);
		background: #c9c9c6;
	}

	$dash-margin: 0.6em;

	&:before {
		left: $dash-margin;
	}

	&:after {
		right: $dash-margin;
	}

  @include phones() {
    &:after, &:before {
      display: none;
    }
  }
}