.skills-list {
	margin-left: -1.8em;
}

.skills__title {
	text-align: center;
	margin-bottom: 1.1em;
}

.skills-list__item {
	display: inline-block;
	vertical-align: top;
	margin-left: 1.5625em;
	margin-bottom: 1.1em;
}

.skills-group__title {
	font-size: 1.75em; //28px
	color: $gray;
	margin-bottom: 0.535em;
	font-weight: 500;
}

.skills__circle-under {
	stroke: #dfdcd5;
}

.skills__circle-above {
	stroke: $green;
}

.skills__text {
	margin-bottom: 3.125em;

	p {
		color: $gray;
	}
}