.slider {
    display: flex;
    height: 75vh;
}

.slider__desc, .slider__display {
    padding-top: 4em;
}

.slider__desc {
    background: $white;
    display: flex;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    .block-title {
       box-sizing: content-box; 
    }
    
    &-info {
        max-width: 90%;
    }
    
    &-title {
        margin-bottom: 20px;
        
    }
    
    &-skills {
        padding: 1.25em 0;
        border-top: 1px solid $green;
        border-bottom: 1px solid $green;
        color: $green;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 2.5em;
    }
}

.slider__display {
	background: $beige;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    
    &-pic {
        margin-bottom: 2.75em;
    }
}

.slider__btns {
    width: 100%;
    margin-bottom: -7px;
    display: flex;
    margin-top: auto;
}

.slider__btn {
    display: block;
    flex: 1;
    
    img {
        width: 100%;
    }
//    
//    &_left {
//		background: url('../img/btns/down.jpg') center center no-repeat;
//		background-size: cover;
//	}
//
//	&_right {
//		background: url('../img/btns/up.jpg') center center no-repeat;
//		background-size: cover;
//	}
}



@media screen and (max-width: 768px) {
    .slider {
        flex-direction: column;
        height: 100vh;
    }
    
    .slider__desc {
//        padding-top: 0;
        box-sizing: content-box;
        padding-bottom: 6em;
    }
    
    .slider__display {
        flex: 3;
        
        &-pic {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .slider__desc-info {
        max-width: 100%;
    }
    
    .slider__desc {
        padding-top: 8em;
        padding-bottom: 7em;
    }
    
    .slider__display {
        padding-top: 2em;
    }
    
    
    .slider {
        .block-title {
            padding: 0;
            &:after, &:before {
                display: none;
            }
        }
    }
}


















