.socials {
	position: absolute;
	top: 1.25em;
	left: 1.25em;

	&_footer {
		position: static;
		display: inline-block;
		padding-top: 1.25em;

		.socials__link {
			height: 2.25em;
			width: 2.25em;
			position: relative;
			border-radius: 50%;
			border: 1px solid rgba(#9a9d9f, .5);
			display: block;
            
            &-fb {
                background: url("../img/icons/svg/fb.svg") no-repeat center center; 
                background-size: 30%;
                
                &:hover {
                    border: none;
                    background: url("../img/icons/svg/fb_round.svg") no-repeat;
                    background-size: 100%;
                    background-position: center center;
                }
            }
            &-gt {
                background: url("../img/icons/svg/github.svg") no-repeat center center; 
                background-size: 60%;
                
                &:hover {
                    border: none;
                    background: url("../img/icons/svg/github_round.svg") no-repeat;
                    background-size: 100%;
                    background-position: center center;
                }
            }
            &-in {
               background: url("../img/icons/svg/in.svg") no-repeat; 
               background-size: 60%;
               background-position: 53% 40%;
                
                &:hover {
                    border: none;
                    background: url("../img/icons/svg/in_round.svg") no-repeat;
                    background-size: 100%;
                    background-position: center center;
                }
            }

		}
	}
 
    &_hero {
		display: inline-block;
        top: 1.875em;
	    left: 1.875em;
        
        .socials__link {
			height: 2.25em;
			width: 2.25em;
			display: block;
            opacity: 0.5;
            
            &:hover {
                opacity: 1;
            }
            
            &-fb {
                background: url("../img/icons/svg/fb.svg") no-repeat center center; 
                background-size: 30%;
            }
            &-gt {
                background: url("../img/icons/svg/github.svg") no-repeat center center; 
                background-size: 60%;
            }
            &-in {
                background: url("../img/icons/svg/in.svg") no-repeat; 
                background-size: 60%;
                background-position: 53% 40%;
            }

		}
    }
}

.socials__item {
	display: inline-block;
	margin-left: 1.5625em;

	&:first-child {
		margin-left: 0;
	}
}

.socials__icon {
	width: 1.5625em;
	height: 2.1875em;
}

@media screen and (max-width: 870px) {
    .socials {
	
        &_footer {
            padding: 1.2em 0;
        }
    }
}