.manual {
    .container {
        @extend %clearfix;
    }
    
    h2 {
        margin-bottom: 2em;
    }
}

.manual__block {
    box-sizing: border-box;
    @extend %clearfix;
    
    &-1 .manual__block-inner-img {
        background: url("../img/manual-img-1.jpg") no-repeat center;
        background-size: cover;
    }
    
    &-1 .manual__block-inner-info {
        padding-top: 0;
    }
    
    &-2 .manual__block-inner-img {
        background: url("../img/manual-img-2.jpg") no-repeat center;
        background-size: cover;
    }
    
    &-3 .manual__block-inner-img {
        background: url("../img/manual-img-3.jpg") no-repeat center;
        background-size: cover;
    }
    
    &-4 .manual__block-inner-img {
        background: url("../img/manual-img-4.jpg") no-repeat center;
        background-size: cover;
    }
    
    &-5 .manual__block-inner-img {
        background: url("../img/manual-img-5.jpg") no-repeat center;
        background-size: cover;
    }
    
    &-6 .manual__block-inner-img {
        background: url("../img/manual-img-6.jpg") no-repeat center;
        background-size: cover;
    }
    
    &-7 .manual__block-inner-img {
        background: url("../img/manual-img-7.jpg") no-repeat center;
        background-size: cover;
    }
    
    &:nth-of-type(odd) .manual__block-inner-img {
        float: left;
    }
    
    &:nth-of-type(odd) .manual__block-inner-info {
        float: right;
    }
    
    &:nth-of-type(odd) .manual__block-inner-info span {
        right: 0;
    }
    
    &:nth-of-type(even) .manual__block-inner-img {
        float: right;
    }
    
    &:nth-of-type(even) .manual__block-inner-info {
        float: left;
    }
    
    &:nth-of-type(even) .manual__block-inner-info span {
        left: 0;
    }
}

.manual__block-inner {
    width: 50%;
    height: 19.1875em;
}


// ========== manual__block-inner-info ==========
.manual__block-inner-info {
    padding: 5.5em 2.375em 0;
    position: relative;
    
    h3 {
        font: 1.5em $font-helvetica-med;
        color: $grey;
        letter-spacing: 1px;
        margin-bottom: 0.8em;
        text-align: center;
    }
    
    p {
        font: 1.125em $font-helvetica-rom;
        color: $grey2;
        letter-spacing: 1px;
        text-align: center;
        
        span {
            font-family: $font-helvetica-med;
            color: $grey2;
        }
    }
    
    & > span {
        display: block;
        font: 5.875em $font-helvetica-rom;
        color: $grey2;
        position: absolute;
        top: 0;
        opacity: 0.14;
    }
}

.manual__block-link {
    width: 44%;
    display: block;
    margin: 8em auto 0;
    font: 1.125em $font-helvetica-rom;
    color: #fff;
    letter-spacing: 1px;
    padding: 0.6em 0;
    background: $green;
    text-align: center;
    transition: 0.3s all;
    
    &:hover {
        background: $green_hover;
    }
}


@media screen and (max-width: 1024px) {
    .manual__block-inner {
        height: 21.875em;
    }
    
    .manual {
        .container {
	        padding: 0;
        }
    }
    
    .manual__block-inner-info {
        padding: 5.5em 1.375em 0;

        h3 {
            font-size: 1.25em;
            margin-top: 2em;
        }

        p {
            font-size: 1em;
        }
    }
}

@media screen and (max-width: 700px) {    
    .manual__block {
        &:nth-of-type(odd) .manual__block-inner-img {
            float: none;
        }

        &:nth-of-type(odd) .manual__block-inner-info {
            float: none;
        }

        &:nth-of-type(even) .manual__block-inner-img {
            float: none;
        }

        &:nth-of-type(even) .manual__block-inner-info {
            float: none;
        }
        
        &:nth-of-type(odd) .manual__block-inner-info span {
            right: 23px;
        }
        
        &:nth-of-type(even) .manual__block-inner-info span {
            left: auto;
            right: 23px;
        }
    }
    
    .manual__block-inner {
        width: 100%;
    }
    
    .manual__block-inner-info {
        padding: 3.7em 0.75em 1.5em !important;
        height: auto;
        
        & > span {
            font-size: 3.3125em;
            top: 14px;
        }
    }
    
    .manual__block-link {
        width: 100%;
        margin-top: 2em;
    }
}

@media screen and (max-width: 500px) {
    .manual {
        h2 {
            font-size: 1em;
            margin-bottom: 1em;
        }
    }
    
    .manual__block-inner-info {        
        h3 {
            font-size: 1em;
            margin-bottom: 0.875em;
            margin-top: 0;
        }

        p {
            font-size: 0.875em;
        }
    }
}































