.structure {
    padding: 4.25em 0 2.4375em;
    
    h2 {
        margin-bottom: 0.9em;
    }
}

.structure__desc {
    width: 70%;
    margin: 0 auto 3em;
    font-family: $font-helvetica-rom;
    color: $grey2;
    letter-spacing: 1px;
    text-align: center;
}

.structure__blocks {
    @extend %clearfix;
}

// ========== structure__block ==========
.structure__block {
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2.3em;
    float: left;
    
    &:nth-last-of-type(3n) {
        margin-right: 0;
    }
}

//structure__block-title
.structure__block-title {
    font: 1.5em $font-helvetica-med;
    color: $grey;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0.6em;
}

//structure__block-desc
.structure__block-desc {
    font: 0.875em $font-helvetica-rom;
    color: $grey2;
    text-align: center;
    margin-bottom: 1.7em;
    letter-spacing: 1px;
}

// ========== structure__block-stars =========
.structure__block-stars {
    width: 36%;
    margin: 0 auto 1.25em;
    @extend %clearfix;
}

.star {
    float: left;
    margin-right: 5%;
    
    &:last-child {
        margin-right: 0;
    }
}

//structure__block-reward
.structure__block-reward {
    font: 0.875em $font-helvetica-rom;
    color: #373737;
    text-align: center;
    letter-spacing: 1px;
    
    span {
        font: 1.142em $font-helvetica-med;
        color: #3dc184;
    }
}

//structure__block-prize
.structure__block-prize {
    font: 0.875em $font-helvetica-rom;
    color: #373737;
    text-align: center;
    margin-top: 1.15em;
    
    span {
        color: #fff;
        background: #00ad5d;
        padding: 0 0.3em;
    }
}



// ========== structure__attention ==========
.structure__attention {
    border: 5px solid #00ad5d;
    padding: 1.25em;
    
    p {
        width: 88%;
        margin: 0 auto;
        text-align: center;
        font: 1.25em $font-helvetica-rom;;
        color: $grey2;
        line-height: 1.8;
        letter-spacing: 1px;
    }
}


@media screen and (max-width: 1024px) {
    .structure__block {
        width: 48%;
        margin-right: 4%;
        margin-bottom: 3em;

        &:nth-last-of-type(3n) {
            margin-right: 4%;
        }
        
        &:nth-last-of-type(odd) {
            margin-right: 0
        }
    }
    
    .structure__attention {
        p {
            font-size: 1.125em;
        }
    }
}

@media screen and (max-width: 810px) {
    .structure__block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.8em;
    }
    
    .structure__desc {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .structure {
        padding-top: 1.25em;
        padding-bottom: 1em;
        
        h2 {
            font-size: 1em;
        }
    }
    
    .structure__block {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.8em;
    }
    
    .structure__desc {
        width: 100%;
        font-size: 0.75em;
    }
    
    .structure__block-title {
        font-size: 1em;
        margin-bottom: 0.875em;
    }
    
    .structure__block-desc {
        font-size: 0.75em;
    }
    
    .structure__block-reward {
        span {
            font-size: 1em;
        }
    }
    
    .structure__block-prize {
        font-size: 0.75em;
        
        span {
            font-size: 0.875em;
        }
    }
    
    .structure__attention {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .structure__block-stars {
        width: 40%;
    }
}

@media screen and (max-width: 360px) {
    .structure__block-stars {
        width: 47%;
    }
}

@media screen and (max-width: 315px) {
    .structure__block-stars {
        width: 52%;
    }
}

@media screen and (max-width: 290px) {
    .structure__block-stars {
        width: 62%;
    }
}



















