.page-info {
    padding: 2.25em 0 2.6875em;
    background: $dark;
    
    .container {
        @extend %clearfix;
    }
}

// ========== page-info ==========
.page-info__block {
    width: 23.2%; //255
    font-family: $font-helvetica-rom;
    margin-right: 2.4%;
    float: left;
    
    &:last-child {
        margin-right: 0;
    }
}

// page-info__block-1
.page-info__block-1 .page-info__text p {
    font-size: 0.875em;
    color: #dadada;
        
    &:first-child {
        margin: 2.14em 0 1.7em;
    }
}

.page-info__logo {
    height: 45px;
    font-size: 1.125em;
    color: #fff;
    letter-spacing: 2.9px;
    padding-top: 1.1em;
    padding-left: 4em;
    background: url("../img/logo2.png") no-repeat;
}

// ======== page-info__block-2, 3, 4

//page-info__block-title
.page-info__block-title {
    font: 1.375em $font-openSans;
    color: #e4e4e4;
    border-bottom: 1px dashed #fff;
    padding-bottom: 0.3em;
    position: relative;
    margin-bottom: 0.5em;
    
    &:after {
        content: "";
        width: 46%;
        height: 2px;
        background: $green;
        position: absolute;
        bottom: -2px;
    }
}

//page-info__block-link
.page-info__block-link {
    background: url("../img/icons/info-arrow.png") no-repeat;
    background-position: right center;
    border-bottom: 1px solid #353535;
    padding: 0.5em 0;
    
    a {
        font: 0.6875em $font-helvetica-rom;
        color: #eeeeee;
    }
}

//page-info__block-tel
.page-info__block-tel {
    margin-bottom: 1.4em;
    
    a {
        font: 1.125em $font-helvetica-rom;
        color: #dadada;
    }
}

//page-info__block-4
.page-info__block-4 .page-info__block-title {
    margin-bottom: 1.1em;
}

//page-info__block-buttons
.page-info__block-buttons {
    @extend %clearfix;
    
    a {
        width: 49%;
        display: block;
        float: left;
        font: 0.625em $font-helvetica-thin;
        color: #e4e4e4;
        border: 1px solid #fff;
        padding: 0.6em 1.7em 0.6em 3em;
        margin-right: 2%;
        
        &:first-child {
            background: url("../img/icons/question.png") no-repeat;
            background-position: 13px center;
        }
        
        &:last-child {
            background: url("../img/icons/phone.png") no-repeat;
            background-position: 13px center;
            margin-right: 0;
            border-color: #00ad5d;
        }
    }
}


@media screen and (max-width: 1024px) {
    .page-info {
        padding-top: 2.7em;
        padding-bottom: 2.3em;
        background: #484848;
    }
        
    .page-info__block-1 {
        float: none;
        width: 100%;
        margin-bottom: 2.7em;
        
        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }
    
    .page-info__logo {
        height: 98px;
        font-size: 1.375em;
        padding-top: 0;
        line-height: 92px;
        padding-left: 5.7em;
        background: url("../img/logo4.png") no-repeat;
        float: left;
        margin-right: 8.4%;
    }
    
    .page-info__text {
        float: left;
        width: 36%;
        
        p {
            line-height: 1.4;
        }
        
        p:first-child {
            margin: 0.9em 0 1.3em !important;
        }
    }
    
    .page-info__block-2, .page-info__block-3, .page-info__block-4 {
        width: 28.5%;
        margin-right: 7.25%;
    }
    
    .page-info__block-4 {
        margin-right: 0;
    }
    
    .page-info__block-title {
        margin-bottom: 1.2em;
    }
    
    .page-info__block-link a {
        font-size: 0.875em;
    }
    
    .page-info__block-buttons a {
        width: 75%;
        float: none;
        text-align: center;
        font-size: 0.75em;
        padding: 0.8em 0;
        
        &:first-child {
            background-position: 39px center;
            margin-bottom: 0.9em;
        }
        
        &:last-child {
            background-position: 34px center;
        }
    }
}

@media screen and (max-width: 990px) {
    .page-info__block-buttons {
        a {
            background: none !important;
        }
    }
}

@media screen and (max-width: 500px) {
    .page-info {
        padding: 1.6875em 0 1.125em;
        background: $grey;
    }
    
    .page-info__block {
        float: none;
        width: 100%;
    }
    
    .page-info__block-1 {
        margin-bottom: 1.5em;
    }
    
    .page-info__logo {
        width: 80%;
        background-size: 53px 46px;
        font-size: 1.125em;
        padding-left: 5.3em;
        float: none;
        height: 46px;
        line-height: 46px;
        margin: 0 auto 1.4em;
    }
    
    .page-info__text {
        width: 100%;
        float: none;
        font-size: 0.875em;
        line-height: 1.42;
    }
    
    .page-info__block {
        ul {
            display: none;
            margin-top: 1em;
        }
    }
    
    .page-info__block-2, .page-info__block-3, page-info__block-4 {
        padding: 1em 0;
        border: 1px solid #464646;
        border-right: 0;
        border-left: 0;
    }
        
    .page-info__block-title {
        margin: 0;
        font-size: 1.125em;
        border-bottom: none;
        padding-bottom: 0;
        cursor: pointer;
        position: relative;
        
        &:after {
            content: "";
            background: url("../img/icons/arrow_bottom.png");
            background-repeat: no-repeat;
            background-position: center right;
            background-size: cover;
            width: 8px;
            height: 6px;
            position: absolute;
            top: 30%;
            right: 0;
            transition: 0.5s all;
        }
    }
    
    .page-info__block-3 {
        margin-bottom: 0.8125em;
    }
    
    .page-info__block-4 {
        .page-info__block-title:after {
            display: none !important;
        }
    }
    
    .page-info__block-link {
        background: none;
    }
    
    .page-info__block-buttons {
        a {
            width: 48%;
            float: left;
            margin-right: 4%;
            background: none !important;
            
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 360px) {
    .page-info__logo {
        width: 100%;
        background-size: 53px 46px;
        font-size: 1.125em;
        padding-left: 5.3em;
        float: none;
        height: 46px;
        line-height: 46px;
        margin: 0;
        margin-bottom: 1.4em;
    }
}

.page-info__block-title.activeArrow:after {
    transform: rotate(180deg);
}
























