//==================== HEADER ====================
//================================================
.page-header {
    font-family: $font-helvetica-med;
    font-size: 0.75em; //12px
    letter-spacing: 1.3px;
    margin-bottom: 7em;
    @extend %clearfix;
}

//language
.language {
    width: 14.5%;
    float: left;
}

.language__view {
    display: inline-block;
    cursor: pointer;
    @extend %clearfix;
    
    .language__pic {
        width: 14px;
        height: 14px;
        float: left;
        margin-right: 11px;
    }
    
    .language__name {
        float: left;
        height: 14px;
        line-height: 14px;
        margin-right: 9px;
    }
}

.language-arrow {
    width: 9px;
    height: 5px;
    display: inline-block;
    line-height: 2.8;
}

//Navigation
.header__menu {
    width: 78%;
    height: 14px;
    float: left;
    @extend %clearfix;
}

.header__link {
    float: left;
    line-height: 14px;
    margin-right: 3.7%;
    
    &:nth-child(3) {
        margin-right: 3.8%;
    }
    
    &:nth-child(4) {
        margin-right: 2.7%;
    }
    
    &:nth-child(5) {
        margin-right: 5.1%;
    }
    
    &:nth-child(6) {
        margin-right: 6.7%;
    }
    
    a {
        color: #fff;
        letter-spacing: 2px;
    }
}

.profile, .search {
    float: right;
    cursor: pointer;
}

.search {
    margin-left: 4.68%;
}

//profile
.profile {
    width: 14px;
    height: 14px;
	background: url("../img/icons/profile.png") no-repeat center;
    background-size: cover;
}

//search
.search {
    width: 12px;
    height: 13px;
    background: url("../img/icons/search.png") no-repeat center;
    background-size: cover;
}

//================== HUMBURGER ===================
//================================================

//bmenu
.bmenu {
    display: none;
    width: 40px;
	height: 30px;
	position: absolute;
    top: 0;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 999999999999999999999999;
}

.part {
  width: 100%;
  height: 1px; 
  margin-bottom: 12px;
  background: #fff;  
}

.bmenu .top{
  -webkit-transition:all 0.2s;
	transition:all 0.2s;
  -webkit-transition-timing-function:ease-in;
  transition-timing-function:ease-in;
}
.bmenu .bottom{
	-webkit-transition:all 0.2s;
	transition:all 0.2s;
	-webkit-transition-timing-function:ease-in;
	transition-timing-function:ease-in;
}
.bmenu .middle{
	-webkit-transition:all 0.2s;
	transition:all 0.2s;
	-webkit-transition-timing-function:ease-in;
	transition-timing-function:ease-in;
}

.bmenu.active .top{
	-webkit-transform:rotate(45deg) translateY(9px) translateX(9px);
	transform:rotate(45deg) translateY(9px) translateX(9px);
    background: #000 !important;
}

.bmenu.active .bottom{
	-webkit-transform:rotate(-45deg) translateY(-9px) translateX(9px);
	transform:rotate(-45deg) translateY(-9px) translateX(9px);
    background: #000 !important;
}
.bmenu.active .middle{
	-webkit-transform:rotate(-45deg) ;
	transform:rotate(-45deg);
    background: #000 !important;
}



//===================== MAIN =====================
//================================================
.main {
    background: url("../img/main-bg.jpg") no-repeat center;
    background-size: cover;
    padding: 1.375em 0 11.5em;
    color: #fff;
    position: relative;
    
    .container {
        position: relative;
    }
}

//main__info
h1 {
    margin-top: 6.5em;
    font: 2.25em $font-helvetica-med;
    letter-spacing: 2.7px;
    text-align: center;
    margin-bottom: 1.15em;
}

.main__info-text {
    font: 1.875em $font-helvetica-med;
    text-align: center;
    letter-spacing: 3px;
    
    span {
        color: $green;
    }
}


//==================== ARROW =====================
//================================================
.main__arrow {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    border-width: 0 48.5px 35px 48.5px;
    border-color: transparent transparent #fff transparent;
    
    div {
        width: 14px;
        height: 9px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 23px;
        background: url("../img/icons/header-arrow-bottom.png") no-repeat center;
        background-size: cover;
    }
}


@media screen and (max-width: 1024px) {
    .main {
        background: url("../img/main-bg2.jpg") no-repeat center;
        background-size: cover;
        padding-top: 2.1875em;
        padding-bottom: 9.3em;
    }
    
    .language, .header__menu {
        display: none;
    }
    
    .profile {
        width: 38px;
        height: 38px;
        background: url("../img/icons/profile2.png") no-repeat center;
        background-size: cover;
    }
    
    .search {
        width: 38px;
        height: 38px;
        background: url("../img/icons/search2.png") no-repeat center;
        background-size: cover;
    }
    
    .bmenu {
        display: block;
    }
        
    .main__arrow {
        border-width: 0 112px 51px 112px;

        div {
            width: 30px;
            height: 16px;
            top: 28px;
            background: url("../img/icons/header-arrow-bottom2.png") no-repeat center;
            background-size: cover;
        }
    }
    
    h1 {
        margin: 9.4em 0 1.5em;
    }
    
    .main__info-text {
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 500px) {
    .bmenu {
        width: 25px;
        left: 2.2em;
        
        .part {
            margin-bottom: 5px;
        }
    }
    
    .bmenu.active .bottom {
        display: none;
    }
    
    .bmenu.active .middle {
        margin-top: 11px;
    }
    
    .search {
        width: 15px;
        height: 16px;
        background: url("../img/icons/search3.png") no-repeat center;
        margin-left: 24px;
    }
    
    .profile {
        width: 14px;
        height: 14px;
        background: url("../img/icons/profile3.png") no-repeat center;
    }
    
    .main {
        height: 18.5625em;
        padding-top: 1em;
        padding-bottom: 0;
    }
    
    .main__arrow {
        border-width: 0 44px 23px 44px;
        
        div {
            width: 14px;
            height: 8px;
            top: 14px;
        }
    }
    
    h1 {
        display: none;
    }
    
    .main__info-text {
        margin: 6.2em auto 0;
        font-size: 1.25em;
        width: 83%;
    }
}

















































