//variables
$white: #efeee9;
$beige: #eeebdf;
$green: #10c1a8;
$green_dark: #009688;
$gray: #455a64;
$black: #373e42;
$light-beige: #f9f8f0;


//fonts
$font1: "Lobster", sans-serif;
$russo: 'Russo One', sans-serif;

//mixins
@import "helpers/mixins.scss";

//layout setups
@import "layout/setups.scss";
@import "layout/fonts.scss";

//blocks
@import "blocks/about.scss";
@import "blocks/auth.scss";
@import "blocks/block-title.scss";
@import "blocks/btn.scss";
@import "blocks/footer.scss";
@import "blocks/hero.scss";
@import "blocks/map.scss";
@import "blocks/nav-menu.scss";
@import "blocks/reviews.scss";
@import "blocks/section-title.scss";
@import "blocks/skill.scss";
@import "blocks/skills.scss";
@import "blocks/slider.scss";
@import "blocks/socials.scss";
@import "blocks/user.scss";
@import "blocks/works-head.scss";
@import "blocks/down-arrow.scss";
@import "blocks/hamburger.scss";
@import "blocks/contacts.scss";
@import "blocks/blur__form-wrapper.scss";
@import "blocks/preloader.scss";
@import "blocks/admin.scss";