//variables
//==============================
$line: #e0e0e0;
$border: 2px solid #bcd7ec;
//color
$color_dark: #2e3e4f;
$color_green: #87c42e;
$color-blue: #3167c9;
$color-blue2: #1c84d9;

//fonts
$font-swanky: 'swanky', sans-serif;
$font-geometria: "geometria", sans-serif;
$font-geometria-bold: "geometria-bold", sans-serif;
$font-geometria-light: "geometria-light", sans-serif;
$font-geometria-medium: "geometria-medium", sans-serif;

//layout setups
//==============================
@import "layout/_normalize.scss";
@import "layout/_setups.scss";
@import "layout/_fonts.scss";

//mixins
//==============================
@import "helpers/_mixins.scss";

//blocks
//==============================
@import "blocks/_authorization.scss";
@import "blocks/_footer.scss";














