extends ../../main-layout

block title
    | Приветствие

block content
  include ../../parts/preloader
  
  .auth-container
    .bg
    .authorization Авторизоваться
    .copy © Шевченко Сергей
    .auth
      .auth__info
        .user
          .user__photo
            img(src=require("../../img/content/user.jpg"), alt="").user__avatar
          .user__name Шевченко Сергей
          .user__desc Личный сайт разработчика
        ul.socials
            li.socials__item
                a(href="#").socials__link.socials__link-fb
            li.socials__item
                a(href="#").socials__link.socials__link-gt
            li.socials__item
                a(href="#").socials__link.socials__link-in

      .auth__btns
        a(href="works.html").auth__btn Мои работы
        a(href="about.html").auth__btn Обо мне
        a(href="#").auth__btn Блог
        
    