.hidden-form-registration {
    display: none;
    padding-top: 3.4em;
}

@media screen and (max-width: 1024px) {
    .hidden-form-registration {
        display: block;
        
        .form__registration {
            display: block;
            float: none;
            width: 100%;
            padding: 0;
            
            h2 {
                margin-bottom: 2.1em;
            }
            
            input {
                width: 100%;
                text-align: center;
                font-size: 1em;
                padding: 1.375em;
                margin-bottom: 2.4375em;
                
                &:nth-of-type(3) {
                    margin-bottom: 1.2em;
                }
            }
            
            input[type=button] {
                font-size: 1.125em;
                margin-bottom: 0;
                padding: 1.35em 0;
            }
            
            .registration__compliance {
                font-family: $font-helvetica-light;
                margin: 0 12% 1.5em 0;
                float: left;
                width: auto;
                height: 33px;
                line-height: 33px;
            }
            
            #registration-check2 {
                display: none;
            }

            .check-label {
                font-size: 0.625em;
                color: #9a9a9a;
                letter-spacing: 1px;
                cursor: pointer;
                font-size: 14px;

                &:before {
                    content: "\2713";
                    color: transparent;
                    display: inline-block;
                    font-size: 17px;    
                    line-height: 19px;
                    margin: -5px 11px 0 0;
                    background: none;
                    border: 1px solid #e8e8e8;
                    height: 18px;
                    width: 18px;
                    text-align: center;
                    vertical-align: middle;
                    transition: color ease .3s;
                }
            }

            #registration-check2:checked + .check-label:before {
                color: #000;
            }
            
            .alternative {
                width: auto;
                float: left;
                height: 33px;
                line-height: 33px;
                margin-right: 5.5%;
            }
            
            .form__socials {
                margin: 0;
                width: auto;
                float: left;
                
                a {
                    width: 33px;
                    height: 33px;
                    margin: 0;
                    margin-right: 1.7em;
                    
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .hidden-form-registration {
        padding-top: 1.1875em;
        
        h2 {
            margin-bottom: 1.4em !important;
            font-size: 16px;
        }
    }
    
    .form__registration {
        position: relative;
        font-size: 0.75em;
        
        input {
            padding: 1em !important;
            margin-bottom: 1.5em !important;
        }
    }
    
    .registration__compliance {
        float: none !important;
        width: 275px !important;
        margin: 0 auto 6.2em !important;
        font-size: 0.75em;
    }
    
    .check-label {
        font-size: 12px !important;
    }
    
    .alternative {
        float: none !important;
    }
    
    .form__socials {
        float: none !important;
        width: 180px !important;
        margin: 0 auto !important;
        
        a {
            margin-right: 2em !important;
            
            &:last-child {
                margin-right: 0 !important;
            }
        }
    }
    
    .form__registration .registration__button {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 89px;
        margin-bottom: 0 !important;
    }
}

@media screen and (max-width: 320px) {
    .registration__compliance {
        width: 100% !important;
    }
    
    .hidden-form-registration .form__registration .check-label:before {
        margin-right: 2px;
    }
}





























