.investments {
    padding: 1.9em 0 2.4375em;
    
    .container {
        @extend %clearfix;
    }
    
    h2 {
        margin-bottom: 0.8em;
        letter-spacing: 1.3px;
    }
}

.investments__text {
    font-family: $font-helvetica-rom;
    color: $grey2;
    text-align: center;
    letter-spacing: 0.8px;
    margin-bottom: 2.3em;
}


// ========== investments__block ==========
.investments__block {
    width: 32.5%;
    padding-left: 5.8%;
    margin-right: 1.25%;
    float: left;
    
    &-1 {
        background: url("../img/icons/database.png") no-repeat;
    }
    
    &-2 {
        background: url("../img/icons/credit-card.png") no-repeat;
    }
    
    &-3 {
        background: url("../img/icons/internet.png") no-repeat;
    }
    
    &-4 {
        background: url("../img/icons/city.png") no-repeat;
    }
    
    &-5 {
        background: url("../img/icons/innovation.png") no-repeat;
    }
    
    &-6 {
        background: url("../img/icons/startup.png") no-repeat;
    }
    
    &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
        margin-bottom: 2.2em;
    } 
    
    &:nth-of-type(3n) {
        margin-right: 0;
    }
}

.investments__block-title {
    font: 1.25em $font-helvetica-med;
    color: $grey;
    margin-bottom: 0.6em;
    letter-spacing: 1px;
}

.investments__block-text {
    font: 0.875em $font-helvetica-rom;
    color: $grey2;
    letter-spacing: 1px;
    margin-bottom: 1.6em;
}

.investments__block-link {
    display: block;
    width: 53.28%;
    background: $green;
    transition: 0.3s all;
    font: 0.75em $font-helvetica-rom;
    color: #fff;
    padding: 0.55em 0;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 1.4em;
    
    &:hover {
        background: $green_hover;
    }
}

.investments__block-ifo {
    font: 0.625em $font-helvetica-rom;
    color: $grey;
    @extend %clearfix;
    
    .investments__block-per {
        float: left;
        padding-left: 21px;
        margin-right: 7%;
        background: url("../img/icons/persent.png") no-repeat;
    }
    
    .investments__block-summ {
        float: left;
        padding-left: 12px;
        background: url("../img/icons/dolar.png") no-repeat;
    }
}

@media screen and (max-width: 1024px) {
    .investments {
        padding-top: 3.3em;
        padding-bottom: 5.7em;
        
        h2 {
            margin-bottom: 1.2em;
        }
    }
    
    .investments__text {
        margin-bottom: 2.9375em;
    }
    
    .investments__block {
        margin-bottom: 3em;
    }
    
    .investments__block-text {
        margin-bottom: 1.4em;
    }
    
    .investments__block-link {
        width: 65.28%;
        padding: 0.6em 0;
    }
}

@media screen and (max-width: 950px) {
    .investments__block {
        width: 45%;
        margin-right: 10%;
        padding-left: 9.8%;
        
        &:nth-of-type(3) {
            margin-right: 10%;
        }
        
        &:nth-of-type(2n) {
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 500px) {
    .investments {
        padding: 1.75em 0 3em;
        
        h2 {
            margin-bottom: 1em;
        }
    }
    
    .investments__text {
        font-size: 0.75em;
        line-height: 1.75;
        margin-bottom: 2.75em;
    }
    
    .investments__block {
        float: none;
        width: 100%;
        margin-right: 0;
        padding-left: 4.125em;
    }
    
    .investments__block-title {
        font-size: 1em;
    }
    
    .investments__block-text {
        font-size: 0.75em;
    }
}










