.product {
    background: url("../img/product-bg.jpg") no-repeat center;
    background-size: cover;
    padding: 2.75em 0;
    
    h3 {
        width: 71.92%;
        margin: 0 auto 1.3em;
    }
}

// ========== aproduct__block ==========
.product__block {
    width: 51.35%;
    margin: 0 auto;
    background: #fff;
    padding: 2.2em 0 2.0625em;
}

.product__text {
    width: 87%;
    margin: 0 auto 2.6em;
    font-family: $font-helvetica-rom;
    color: $grey2;
    text-align: center;
    letter-spacing: 1px;
}

.product_button {
    display: block;
    margin: 0 auto;
    width: 32%;
    background: $green;
    transition: 0.3s all;
    font-family: $font-helvetica-rom;
    font-size: 0.875em;
    color: #fff;
    padding: 0.9em 0;
    text-align: center;
    
    &:hover {
        background: $green_hover;
    }
}

@media screen and (max-width: 1024px) {
    .product {
        padding: 2.9em 0 3.8em;
    }
    
    .product__block {
        width: 62%;
        height: 26.5em;
        position: relative;
        padding-top: 3em;
    }
    
    .product_button {
        width: 100%;
        font-size: 1.225em;
        padding: 1.3em 0;
        position: absolute;
        bottom: 0;
    }
}

@media screen and (max-width: 890px) {
    .product__block {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
    .product__block {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .product {
        background: url("../img/bg-crypto2.jpg") no-repeat center;
        background-size: cover;
        padding: 5em 0 6.25em;
    }
    
    .product__block {
        width: 100%;
        height: auto;
        padding: 1.5em 0;
        
        h3 {
            font-size: 1.125em;
            margin-bottom: 1em;
        }
        
        .product__text {
            font-size: 0.75em;
            line-height: 1.5;
        }
        
        .product_button {
            padding: 0.8em 0;
            font-size: 0.875em;
            letter-spacing: 1px;
        }
    }
}






























