footer.footer
    .footer__row.footer__row_top
        .footer__left
            ul.nav-menu
                li.nav-menu__item
                    a(href="works.html").nav-menu__link Мои работы
                li.nav-menu__item
                    a(href="about.html").nav-menu__link Обо мне
                li.nav-menu__item
                    a(href="#").nav-menu__link Блог
                li.nav-menu__item
                    a(href="index.html").nav-menu__link Авторизация
        .footer__right
            ul.socials.socials_footer
                li.socials__item
                    a(href="#").socials__link.socials__link-fb
                li.socials__item
                    a(href="#").socials__link.socials__link-gt
                li.socials__item
                    a(href="#").socials__link.socials__link-in

    .footer__row
        .footer__left
            .footer__about Я веб-разработчик из Днепропетровска, и этот сайт я сделал в рамках обучения.
        .footer__right
            .footer__about-user-name © Шевченко Сергей