section.section.hero
    .hero__bg

    .hero__container
        img(src="img/decor/portfolio-header.png" alt="").hero-title-pic

        .user
            .user__pic-container
            .user__name Шевченко Сергей
            .user__desc Личный сайт разработчика