section.humburger
    .humburger__button
        span
        span
        span
        span
        
    .humburger__menu
        .humburger__block.humburger__block-left
        .humburger__block.humburger__block-right
        
        .humburger__menu-item
            a(href="works.html").humburger__link Мои работы
        .humburger__menu-item 
            a(href="#").humburger__link Блог
        .humburger__menu-item 
            a(href="about.html").humburger__link Обо мне
        .humburger__menu-item 
            a(href="index.html").humburger__link Авторизация