.about-info {
    padding: 2.3em 0 2.9em;
    
    .container {
        @extend %clearfix;
    }
}

// ========== articles__info ==========
.about-info__block {
    width: 30%;
    margin-right: 3%;
    float: left;
    
    &-1 .about-info__block-inner {
        width: 92.6%;
        margin: 0 auto;
    }
    
    &-2 .about-info__block-inner {
        width: 58.6%;
        margin: 0 auto;
    }
    
    &-3 .about-info__block-inner {
        width: 85.6%;
        margin: 0 auto;
    }
    
    &-3 {
        margin-right: 0;
    }
}

.about-info__block-inner {
    @extend %clearfix;
    
    div:first-child {
        font: 3.9375em $font-helvetica-med;
        background: linear-gradient(to right, #28a746 0%, #20c996 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: table;
        float: left;
    }
    
    div:last-child {
        font: 1.125em $font-helvetica-rom;
        color: $grey;
        float: left;
        letter-spacing: 3px;
        margin-top: 0.8em;
        margin-left: 1.3em;
    }
}

@media screen and (max-width: 1125px) {
    .about-info__block-inner {
        width: 100% !important;
        
        div:last-child {
            margin-left: 0.3em;
        }
    }
}

@media screen and (max-width: 1024px) {
    .about-info {
        padding: 2.75em 0;
    }
    
    .about-info__block {

        &-1 .articles__info-block {
            width: 100%;
        }

        &-2 .articles__info-block {
            width: 100%;
        }

        &-3 .articles__info-block {
            width: 100%;
        }

        &-3 {
            margin-right: 0;
        }
    }
    
    .about-info__block-inner {
        div:first-child {
            font-size: 3.1em;
        }
        
        div:last-child {
            font-size: 1em;
            margin-top: 0.8em;
        }
    }
}

@media screen and (max-width: 925px) {
    .about-info__block-inner {
        
        div:first-child {
            font-size: 2.5em;
        }
        
        div:last-child {
            margin-top: 0.4em;
        }
    }
}

@media screen and (max-width: 870px) {
    .about-info__block-inner {
        
        div:first-child {
            font-size: 2em;
        }
        
        div:last-child {
            margin-top: 0.2em;
        }
    }
}

@media screen and (max-width: 810px) {
    .about-info__block-inner {
        
        div:last-child {
            font-size: 0.9em;
        }
    }
}

@media screen and (max-width: 780px) {
    .about-info__block-inner {
        
        div:first-child {
            font-size: 1.8em;
        }
        
        div:last-child {
            margin-top: 0.1em;
        }
    }
}

@media screen and (max-width: 750px) {
    .about-info__block-inner {
        
        div {
            width: 100%;
            float: none !important;
            text-align: center;
            
            &:last-child {
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .about-info__block {
        width: 100%;
        float: none;
        margin-bottom: 1.8125em;
        
        .about-info__block-inner {
            width: 62% !important;
            
            div {
                float: left !important;
                text-align: left;
                width: auto;
                
                &:first-child {
                    font-size: 2.25em;
                }

                &:last-child {
                    font-size: 0.875em;
                    line-height: 1.42;
                    margin-top: 0;
                    margin-left: 1em;
                }
            }
        }
    }
    
    .about-info__block-2 {
        margin-left: 5%;
        width: 95%;
        
        .about-info__block-inner {
            div:last-child {
                margin-left: 3em;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .about-info__block {
        .about-info__block-inner {
            width: 70% !important;
        }
    }
    
}

@media screen and (max-width: 360px) {
    .about-info__block {
        .about-info__block-inner {
            width: 78% !important;
        }
    }
}

@media screen and (max-width: 330px) {
    .about-info__block {
        .about-info__block-inner {
            width: 100% !important;
        }
    }
}




































