.page-footer {
    background: $dark2;
    padding: 1.25em 0;
    
    .container {
        @extend %clearfix;
    }
}

// ========== copy ==========
.copy {
    float: left;
    font: 0.75em $font-helvetica-rom;
    color: #fff;
    
    span {
        margin-right: 6px;
    }
    
    a {
        color: #28a94a;
        
        &:first-of-type {
            padding-right: 4px;
            border-right: 1px solid #fff;
        }
        
        &:last-of-type {
            padding-left: 2px;
        }
    }
}


// ========== page-footer__socials ==========
.page-footer__socials {
    float: right;
    
    a {
        display: block;
        float: left;
        margin-left: 1.375em;
        
        &:first-child {
            margin-left: 0;
        }
    }
}


@media screen and (max-width: 1024px) {
    .page-footer {
        background: #484848;
    }
}

@media screen and (max-width: 700px) {
    .page-footer__socials {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .page-footer {
        background: #343434;
    }
    
    .copy {
        font-size: 0.625em;
    }
}

@media screen and (max-width: 320px) {
    .copy {
        width: 100%;
        
        span, a {
            display: block;
            text-align: center;
            margin-bottom: 1em;
        }
        
        a {            
            &:first-of-type {
                border-right: none;
            }
            
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}














