.newInvoice {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999999999999;
    @extend %clearfix;
    
    .container {
	    padding: 2em 0;
    }
    
    h2 {
        float: left;
    }
}

//.newInvoice__blur {
//    width: 273px;
//    height: 100%;
//    float: left;
//    background: #fff url("../img/blur.png") no-repeat;
//    background-position: left top;
//}
//
//.newInvoice__white {
//    width: calc(100% - 273px);
//    height: 100%;
//    float: left;
//    background: #fff;
//}

.newInvoice__block {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

// ===== newInvoice__block-2 =====
.newInvoice__block-2 {
    width: 28%;
    float: left;
}

// ===== newInvoice__btns ====
.newInvoice__btns {
    border-bottom: 1px solid #c9c9c9;
    margin-bottom: 1.75em;
    @extend %clearfix;
}

.newInvoice__btn-first {
    width: 46.7%;
    float: left;
    margin-right: 6.6%;
    border: none;
    outline: none;
    font-family: $font-geometria-light;
    color: #fff;
    padding: 1em 0;
    border-radius: 10px;
    margin-bottom: 1.25em;
    box-shadow: 0 4px 13px 0 rgba(255, 174, 0, 0.26);
    transition: 0.3s all;
    
    &:nth-child(2n) {
        margin-right: 0;
    }
    
    &:first-child, &:nth-child(2) {
        background: #ffa900; /* Old browsers */
        background: -moz-linear-gradient(left, #ffa900 0%, #fa9715 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffa900 0%,#fa9715 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffa900 0%,#fa9715 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa900', endColorstr='#fa9715',GradientType=1 ); /* IE6-9 */
    }
    
    &:nth-child(3), &:last-child {
        background: #ffd47f; /* Old browsers */
        background: -moz-linear-gradient(left, #ffd47f 0%, #fcca8a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffd47f 0%,#fcca8a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffd47f 0%,#fcca8a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd47f', endColorstr='#fcca8a',GradientType=1 ); /* IE6-9 */
    }
    
    &:hover {
        box-shadow: 0px 10px 13px 0 rgba(255, 174, 0, 0.26);
    }
}

// ====== newInvoice__currency =====
.newInvoice__currency-title {
	font: 1.125em $font-geometria-light;
    color: rgba(46, 62, 79, 0.5);
    text-transform: uppercase;
    margin-bottom: 1em;
}

.newInvoice__currency {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 1.875em;
    @extend %clearfix;
    
    input {
        display: none;
    }
    
    input:checked + label {
        background: #bcd7ec;
    }
    
    label {
        cursor: pointer;
        border: 2px solid #bcd7ec;
        border-radius: 5px;
        display: block;
        float: left;
        font: 0.875em $font-geometria-light;
        color: $color_dark;
        text-align: center;
        padding: 0.64em 0;
        
        &:first-of-type {
            width: 33.25%;
            margin-right: 5.75%;
        }
        
        &:last-of-type {
            width: 61%;
        }
    }
}

// ===== newInvoice__block-1 =====
.newInvoice__block-1 {
    width: 67.5%;
    float: left;
    margin-right: 4.5%;
}

//newInvoice__line
.newInvoice__line {
    margin-bottom: 1.875em;
    @extend %clearfix;
    
    &>div {
        @extend %clearfix;
    }
}
.newInvoice__block-1>.newInvoice__line {
    &:last-child {
        border: 1px solid #c9c9c9;
        border-radius: 10px;
        padding: 1.5em 1.125em 4.625em;
    }
}

// ===== newInvoice__close =====
.newInvoice__close {
    font: 1.5em $font-geometria-light;
    color: rgba(46, 62, 79, 0.5);
    cursor: pointer;
    float: right;
    line-height: 2em;
}

// ===== labelForFile =====
.inputFile {
    width: 36%;
    margin-right: 5%;
    float: left;
}

#file {
    display: none;
}

.labelForFile {
    height: 11em;
    cursor: pointer;
    display: block;
    border: 2px dashed #bcd7ec;
    background: url("../img/file.png") no-repeat;
    background-position: center -40px;
    position: relative;
    border-radius: 10px;
    
    img {
        max-width: 100%;
        max-height: 100%;
    }
    
    span {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font: 1.5em $font-geometria-light;
        color: #2e3e4f;
    }
}

#output  {
    width: 100%;
	height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    
    div {
        width: 100%;
        height: 100%;
        
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }
}

// ====== newInvoice__info =====
.newInvoice__info {
    width: 59%;
    float: left;
    @extend %clearfix;
    
    .newInvoice__info-block:last-child {
        float: right;
        
        p:nth-child(3) {
            text-transform: uppercase;
        }
    }
}

// ====== newInvoice__info-block =====
.newInvoice__info-block {
    float: left;
    
    p {
        margin-bottom: 0.9375em;
        color: $color_dark;
        text-align: right;
        font-family: $font-geometria-bold;
    }
    
    &:first-child {
        p {
            text-transform: uppercase;
        }
    }
}

// ===== newInvoice__line-title =====
.newInvoice__line-title {
    text-transform: uppercase;
    text-align: right;
    font: 1.5em $font-geometria-bold;
    color: rgba(46, 62, 79, 0.56);
    margin-bottom: 1em;
    display: block;
    float: right;
    border: none;
    display: block;
    box-sizing: border-box;
    outline: none;
    
    &:hover {
        border: 1px solid #c9c9c9;
        margin-bottom: calc(1em - 2px);
    }
    
    &:focus {
        border: 1px solid #c9c9c9;
        margin-bottom: calc(1em - 2px);
    }
}

// ===== newInvoice__line-block =====
.newInvoice__line-block {
    width: 50%;
    float: left;
    font: 0.875em $font-geometria-light;
    
    &:nth-child(2) {
        float: right;
    }
}

// ===== block1 =====
.block1 {
    margin-bottom: 5em;
    
    &:last-child {
        margin-bottom: 0;
        
        .block1__field input {
            width: 100%;
        }
        
        &>input {
            font: 0.875em $font-geometria-medium;
        }
    }
    
    &>input, .addCustomerField>input  {
        width: 5.7em;
        font: 0.875em $font-geometria-light;
        border: none;
        text-align: right;
        color: $color_dark;
        outline: none;
        
        &:hover {
            border: 1px solid #c9c9c9;
        }
        
        &:focus {
            border: 1px solid #c9c9c9;
        }
    }
}

//addCustomerField
.addCustomerField {
    margin-bottom: 1em;
    
    &:last-child {
        margin-bottom: 0;
    }
}

//block1__field
.block1__field {
    width: 240px;
    border: 2px solid #bcd7ec;
    background: none;
    outline: none;
    border-radius: 8px;
    padding: 0.6em 1.9em;
    display: inline-block;
    
    input {
        width: 106px;
        border: none;
        outline: none;
    }    
}

.block1__field-1 {
    div {
        width: 100%;
        margin-right: 1.57em;
        text-align: center;
    }
    span {
        margin-right: 0;
        color: rgba(46, 62, 79, 0.5);
    }

}

.addCustomer {
    font: 0.875em $font-geometria-light;
    color: #1c84d9;
    cursor: pointer;
    display: block;
    margin-left: 1em;
    float: right;
    line-height: 36.78px;
}

// ===== newInvoice__line-block 2 =====
.newInvoice__line-block:nth-child(2) {
    .block2__number, .block2__date, .block2__due {
        float: right;
        border: 2px solid #bcd7ec;
        border-radius: 8px;
        overflow: hidden;
        
    }
    
    input {
        font: 0.875em $font-geometria-light;
        color: $color_dark;
        padding: 0.78em 0.64em; //1.9em
        text-align: right;
        outline: none;
        border: none;
        
        &[type="date"] {
            padding-top: 0.6em;
            padding-bottom: 0.6em;
        }
    }
}

.block2 {
    @extend %clearfix;
    
    &:nth-child(1) {
        margin-bottom: 1.875em;
    }
    
    &:nth-child(2) {
        margin-bottom: 0.9375em;
    }
}

.block2__number {
    width: 205px;
    overflow: hidden;
    @extend %clearfix;
    
    div {
        width: 18.5%;
        float: left;
        text-align: center;
        background: #bcd7ec;
        height: 100%;
        line-height: 33px;
    }
    
    input {
        width: 81.5%;
        float: left;
        outline: none;
        border: none;
    }
}

.block2__date-text, .block2__due-text {
    font: 0.875em $font-geometria-light;
    color: $color_dark;
    line-height: 37px;
    float: right;
    margin-right: 1em;
}


// ===== invoice__table =====
.invoice__table {
    width: 100%;
    border-collapse: collapse;
//    border-spacing: 25px;
    
    thead {        
        input {
            width: 100%;
            border: none;
            outline: none;
            color: $color_dark;
            
            &:hover, &:focus {
                border: 1px solid #c9c9c9;
                margin-right: -1px;
            }
        }
    }
    
    th {
        font: 1.125em $font-geometria-bold;
        color: $color_dark;
        border-bottom: 1px solid #a2a2a2;
        padding-bottom: 1em;
        text-align: left;
        
        &:nth-child(1) {
            width: 49%;
        }
        
        &:nth-child(2) {
            width: 16%;
        }
        
        &:nth-child(3) {
            width: 16%;
        }
        
        &:nth-child(4) {
            width: 10%;
        }
    }
}

.invoice__table-body {
    tr {
        height: 56px;
        
        &:first-child td {
            padding-top: 1.5em;
        }
    }
    
    td {
        padding-bottom: 1em;
        
        &:nth-child(3) {
            input {
                float: left;
                width: 67%;
                line-height: 20px;
            }
        }
        
        &:nth-child(2) .invoice__table-block {
            width: 85%;
        }
        
        &:nth-child(3) .invoice__table-block {
            width: 85%;
        }
        
        &:nth-child(4) {
            input {
                width: 70%;
                border: none;
                outline: none;
            }
            
            .invoice__table-block {
                border: none;
                padding-right: 0;
                padding-left: 0;
            }
        }
    }
}

// 3 ячейка таблицы
.invoice__table-block:nth-child(3) {
    @extend %clearfix;
}



// ячейка таблицы
.invoice__table-block {
    width: 96%;
    border: 2px solid #bcd7ec;
    border-radius: 8px;
    overflow: hidden;
    padding: 0.5625em 0.875em;
    
    input {
        width: 100%;
        border:none;
        outline: none;
        font: 0.875em $font-geometria-light;
        color: $color_dark;
        
        &::-webkit-input-placeholder {
            font: 0.875em $font-geometria-light;
            color: $color_dark;
        }
        &::-moz-placeholder          {
            font: 0.875em $font-geometria-light;
            color: $color_dark;
        }
        &:-moz-placeholder           {
            font: 0.875em $font-geometria-light;
            color: $color_dark;
        }
        &:-ms-input-placeholder      {
            font: 0.875em $font-geometria-light;
            color: $color_dark;
        }
    }
}

.invoice__table-currency {
    display: inline-block;
    margin-right: 0.3em;
    float: left;
}

// ===== addLineBtn =====
.addLineBtn {
    text-align: center;
    font: 1.125em $font-geometria-light;
    color: $color_dark;
    cursor: pointer;
    border: 2px dashed #bcd7ec;
    border-radius: 8px;
    padding: 0.84em 0;
    
    p {
        margin-bottom: 0;
    }
}

// ===== newInvoice__subtotal, newInvoice__total =====
.newInvoice__subtotal, .newInvoice__total {
    float: right;
    font: 0.875em $font-geometria-light;
    color: $color_dark;
    
    div {
        display: inline-block;
        
        &:first-child {
            margin-right: 28px;
        }
        
        &:nth-child(2) {
            margin-right: 12px;
        }
    }
}

// ===== newInvoice__addBtnField =====
.newInvoice__addBtnField {
    float: right;
    font: 0.875em $font-geometria-light;
    color: $color-blue2;
    
    div {
        display: inline-block;
        margin-left: 30px;
        cursor: pointer;
    }
}


// ===== Notes =====
.notesName {
    font: 0.875em $font-geometria-light;
    color: $color_dark;
    border: none;
    outline: none;
    display: block;
    margin-bottom: 1em;    
    
    &:hover, &:focus {
        border: 1px solid #c9c9c9;
        margin-bottom: calc(1em - 2px);
    }
}

.textNotes {
    width: 100%;
    height: 6.28em;
    border: 2px solid #bcd7ec;
    font: 0.875em $font-geometria-light;;
    border-radius: 8px;
    resize: none;
    display: block;
    outline: none;
    padding: 1em;
}


// ========== Скрытые поля =========
//==================================
//amountPaid
.newInvoice__line-hiden {
    margin-bottom: 0.5em;   
}

.amountPaid, .tax, .discount, .paymentFee {
    display: none;
    float: right;
    font: 0.875em $font-geometria-light;
    position: relative;
    
    &>div:first-child {
        margin-right: 1em;
        line-height: 35.75px;
    }
    
    .inline {
        float: left;
    }
}

.amountPaid__field, .tax__field, .discount__field, .paymentFee__field {
    width: 149px;
    height: 35.75px;
    border: 2px solid #bcd7ec;
    border-radius: 8px;
    padding: 0.5625em 0.875em;
    padding-left: 0.6em;
    padding-right: 1.6em;
    position: relative;
    
    input {
        width: 39%;
        position: absolute;
        left: 44px;
        border: none;
        outline: none;
        text-align: right;
    }
}

.arrow-choise {
    width: 8px;
    height: 8px;
    display: block;
    border-left: 1px solid #bcd7ec;
    border-bottom: 1px solid #bcd7ec;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-72%) rotate(-45deg);
    cursor: pointer;
}

.addon {
    display: none;
    position: absolute;
}

.currency-sign {
    left: 8%;
}

.amountPaid {
    .currency-sign {
        display: block;
    }
    
    .percent {
        display: none;
    }
}

.percent {
    display: block;
    right: 20%;
}

.choise-block {
    display: none;
    width: 101px;
    position: absolute;
    top: 115%;
    right: 1px;
    z-index: 10;
    background: #bcd7ec;
    
    label {
        display: block;
        cursor: pointer;
        padding: 1em;
        transition: 0.3s all;
        
        &:hover {
            background: #a4c4de;
        }
    }
    
    input {
        display: none;
        
        &:checked+label {
            font-family: $font-geometria-medium;
        }
    }
    
    &:before {
        content: "";
        position: absolute;
        top: -10px;
        right: 10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 7px 10px 7px;
        border-color: transparent transparent #bcd7ec transparent;
    }
}

.closeNewField {
    width: 12px;
    height: 12px;
    position: absolute;
    right: -16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

// =================
.newInvoice__line-block {
    .block1__field, .block2__date, .block2__due {
        height: 37px;
    }
    
    .block2:first-child {
        margin-bottom: 1.4em;
    }
}

// ========== input DATE ==========
#datepicker{
    width: 100%; 
    background: none;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background: none !important;
    border: none;
    height: 37px;
    line-height: 1;
}

.form-control {
    cursor: pointer !important;
    outline: none;
    background: none;
}

.input-group-addon:last-child {
    display: none;
}

// ===== БЛОК УДАЛЕНИЕ СТРОК В ТАБЛИЦЕ =====
.closeTh {
    width: 1%;
}

.closetr-block {
    border: none;
}

.closeTr {
    width: 12px;
    height: 12px;
    cursor: pointer;
    
    img {
        display: block;
    }
}



// ===== media =====

//@media screen and (max-width: 1700px) {
//    .newInvoice__block {
//        .container {
//            margin-left: 25%;
//        }
//    }
//}
//
//@media screen and (max-width: 1480px)  {
//    .newInvoice {
//        min-height: 110%;
//    }
//}
//
//@media screen and (max-width: 1475px)  {
//    .newInvoice {
//        min-height: 118%;
//    }
//}

//@media screen and (max-width: 1472px)  {
//    .newInvoice__info-block {
//        float: right;
//    }
//    
//    .newInvoice__btn-first {
//        width: 100%;
//        float: none;
//        margin-right: 0 !important;
//    }
//    
//    .newInvoice__currency label {
//        width: 100% !important;
//        float: none;
//        margin-right: 0;
//        
//        &:first-of-type {
//            margin-bottom: 1em;
//        }
//    }
//    
//    .newInvoice__line-block {
//        &:first-of-type {
//            width: 58%;
//        }
//        
//        &:last-of-type {
//            width: 42%;
//        }
//    }
//    
//    .block1__field {
//        width: 195px;
//        padding: 0.6em 0.7em;
//        
//        span {
//            margin-right: 0.7em;
//        }
//    }
//    
//    .addCustomer {
//        margin-left: 0.5em;
//    }
//    
//    .invoice__table th:nth-child(2) {
//        width: 16%;
//    }
//    
//    .invoice__table th:nth-child(3) {
//        width: 16%;
//    }
//}

@media screen and (max-width: 1470px) {
    .newInvoice .container {
        max-width: 1170px;
    }
}

//@media screen and (max-width: 1240px) {
//    .newInvoice__block {
//        .container {
//            margin-left: 24%;
//        }
//    }
//    
//    .newInvoice__block-1 {
//        width: 67%;
//        margin-right: 3%;
//    }
//}

@media screen and (max-width: 1200px) {
    .newInvoice .container {
        max-width: 95%;
    }
    
    .newInvoice__line-block {
        &:first-of-type {
            width: 55%;
        }
        
        &:last-of-type {
            width: 45%;
        }
    }
    
    .addCustomer {
        display: inline-block;
        margin-top: -2px;
        float: none;
    }
}

@media screen and (max-width: 1110px) {
    .newInvoice__block-1 {
        width: 72%;
        margin-right: 2%;
    }
    
    .newInvoice__block-2 {
        width: 26%;
    }
    
    .newInvoice__btn-first {
        width: 49%;
        margin-right: 2%;
    }
    
    .newInvoice__info-block {
        float: left;
    }
    
    .newInvoice__line-block:first-of-type {
        width: 55%;
    }
    
    .newInvoice__line-block {
        .block1, .block2 {
            font-size: 14px;
        }
    }
    
    .newInvoice {
        font-size: 14px;
    }
    
    .amountPaid {
        font-size: 14px;
        
        div {
            font-size: 14px;
        }
    }
    
    .closeNewField {
        right: -13px;
    }
}

@media screen and (max-width: 1030px) {
    .newInvoice__line-block {
        &:first-of-type {
            width: 60%;
        }
        
        &:last-of-type {
            width: 40%;
        }
    }
}

@media screen and (max-width: 1000px) {
//    .invoice__table th:nth-child(2) {
//        width: 18%;
//    }
//    
//    .invoice__table th:nth-child(3) {
//        width: 14%;
//    }
}

@media screen and (max-width: 980px) {
    .newInvoice__block-1 {
        width: 70%;
        margin-right: 2%;
    }
    
    .newInvoice__block-2 {
        width: 28%;
    }
    
    newInvoice__line-block {
        &:first-of-type {
            width: 63%;
        }
        
        &:last-of-type {
            width: 37%;
        }
    }
    
    .addCustomer {
        margin-left: 0;
    }
    
    .block1__field {
        width: 188px;
    }
}

@media screen and (max-width: 915px) {
    .newInvoice__info {
        font-size: 12px;
    }
    
    .newInvoice__block-1 {
        width: 69%;
        margin-right: 1%;
    }
    
    .newInvoice__block-2 {
        width: 30%;
    }
}

@media screen and (max-width: 900px) {
//    .invoice__table th:nth-child(2) {
//        width: 16%;
//    }
//    
//    .invoice__table th:nth-child(3) {
//        width: 16%;
//    }
}


@media screen and (max-width: 830px) {
    .newInvoice__block .container {
        max-width: 95%;
    }
    
    .newInvoice__block-1, .newInvoice__block-2 {
        width: 100%;
        float: none;
        margin-right: 0;
    }
}

@media screen and (max-width: 640px) {
    .newInvoice__info-block {
        float: none;
        
        &:last-child {
            float: none;
        }
    }
    
    .newInvoice__line-block {
        &:first-of-type {
            width: 100%;
            float: none;
            margin-bottom: 2.4em;
        }
        
        &:last-of-type {
            width: 100%;
            float: none;
        }
        
        inpt {
            display: block;
        }
    }
    
    .addCustomerField input, .block1>input {
        float: right;
        margin-bottom: 3px;
        
        &:hover, &:hover {
            margin-bottom: 1px;
        }
    }
    
    .block1 {
        margin-bottom: 0;
    }
    
    .block1__field {
        width: 100%;
    }
    
    .addCustomer {
        display: block;
        margin-right: 0;
        text-align: center;
    }
    
    .block2 {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 0.9em;
    }
    
    .block2__number, .block2__date, .block2__due {
        width: 100%;
    }
    
    .block2__date, .block2__due {
        text-align: center;
    }
    
    .block2__date-text, .block2__due-text {
        margin-right: 0;
        text-align: right;
    }
    
    .newInvoice__line-hiden {
        margin-right: 1em;
    }
    
    .closeNewField {
        right: -20px;
    }
}

@media screen and (max-width: 580px) {
//    .invoice__table th:nth-child(2) {
//        width: 18%;
//    }
//    
//    .invoice__table th:nth-child(3) {
//        width: 18%;
//    }
    
    .invoice__table-block {
        width: 99%;
    }
    
    .invoice__table-body {
        td {
            &:nth-child(2) .invoice__table-block {
                width: 98%;
            }

            &:nth-child(3) .invoice__table-block {
                width: 98%;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .invoice__table th:nth-child(2) {
        width: 20%;
    }
    
    .invoice__table th:nth-child(3) {
        width: 20%;
    }
}

@media screen and (max-width: 500px) {
    .newInvoice__btn-first {
        width: 100%;
        margin-right: 0;
    }
}

@media screen and (max-width: 460px) {
    .invoice__table th:nth-child(2) {
        width: 22%;
    }
    
    .invoice__table th:nth-child(3) {
        width: 22%;
    }
    
    .newInvoice__addBtnField div {
        margin-left: 0;
        display: block;
        text-align: right;
        margin-bottom: 1em;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 440px) {
    .invoice__table th:nth-child(2) {
        width: 24%;
    }
    
    .invoice__table th:nth-child(3) {
        width: 24%;
    }
}

@media screen and (max-width: 420px) {
    .invoice__table th:nth-child(2) {
        width: 27%;
    }
    
    .invoice__table th:nth-child(3) {
        width: 27%;
    }
}

@media screen and (max-width: 400px) {
    .invoice__table th {
        width: 25% !important;
    }
}

@media screen and (max-width: 368px) {
    .invoice__table th:nth-child(3) {
        width: 27% !important;
    }
}









