// ===== new-passwod__form =====
.new-passwod__form {
    width: 395px;
}

// ===== new-passwod__inner =====
.new-passwod__inner {
    margin-bottom: 1.875em;
}

.new-password__name {
    font: 14px $font-geometria-light;
    margin-bottom: 0.5em;
    color: #2e3e4f;
}

.new-password__input {
    display: block;
    width: 100%;
    font: 16px $font-geometria-bold;
    color: #2e3e4f;
    padding: 0.625em 1.125em;
    border: 2px solid #bcd7ec;
    border-radius: 8px;
    outline: none;
}

// ========== difficulty-level ==========
.difficulty-level {
    width: 320px;
    height: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 13px 0 rgba(255, 174, 0, 0.26);
    margin-bottom: 2em;
    overflow: hidden;
    @extend %clearfix;
    background: #fedb96; /* Old browsers */
    background: -moz-linear-gradient(left, #fedb96 0%, #e89a02 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #fedb96 0%,#e89a02 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #fedb96 0%,#e89a02 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fedb96', endColorstr='#e89a02',GradientType=1 ); /* IE6-9 */
}

// ===== difficulty-level__block =====
.difficulty-level__block {
    width: 20%;
    height: 100%;
    float: left;
    border-right: 1px solid #b78523;

    &:last-child {
        border-right: none;
    }
}


// ===== new-password__btn =====
.new-password__btn {
    width: 264px;
    height: 3em;
    font: 16px $font-geometria-light;
    color: #fff;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2.43em;
    box-shadow: 0 4px 13px 0 rgba(49, 103, 201, 0.26);
    outline: none;
    @extend %clearfix;
    
    div {
        height: 100%;
        position: relative;
        float: left;
        
        &:first-child {
            width: 72.7%;
            border-right: 2px solid rgba(255, 255, 255, 0.45);
            background: #3875dc; /* Old browsers */
            background: -moz-linear-gradient(left, #3875dc 0%, #316bd8 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #3875dc 0%,#316bd8 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #3875dc 0%,#316bd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875dc', endColorstr='#316bd8',GradientType=1 ); /* IE6-9 */
        }
        
        &:last-child {
            width: 27.3%;
            background: #2056b8 url("../img/done.png") no-repeat center;
        }
    }
    
    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
}



@media screen and (max-width: 500px) {
    .new-passwod__form {
        width: 100%;
    }
    
    .difficulty-level {
        margin: 0 auto 2em;
    }
    
    .new-password__btn {
        margin: 0 auto;
        display: block;
    }
}

@media screen and (max-width: 400px) {
    .new-passwod__form {
        width: 100%;
    }
    
    .difficulty-level {
        width: 100%
    }
    
    .new-password__btn {
        width: 100%;
    }
}

























