section(class="section hero" id="hero")
    .hero__bg
        img(src="../img/portfolio.jpg" alt="").hero__bg-img

    .hero__container
        img(src="../img/portfolio-header.png" alt="").hero-title-pic

    .user
        .user__hero-info
            .user__pic-container
                img(src="../img/user.jpg" alt="").user__pic
            .user__name Шевченко Сергей
            .user__desc Личный сайт разработчика
    
    ul.socials.socials_hero
        li.socials__item
            a(href="#").socials__link.socials__link-fb
        li.socials__item
            a(href="#").socials__link.socials__link-gt
        li.socials__item
            a(href="#").socials__link.socials__link-in

    a(href="#").down-arrow
        img(src="../img/arrow_down.svg", alt="arrow_down").down-arrow__icon