section.section.map
    .contacts
        .block-title Контакты
        .contacts__data-skype.contacts__data persalius90
        .contacts__data-email.contacts__data persalius@gmail.com
        .contacts__data-tel.contacts__data +8 050 141 39 10