extends ../main-layout

block link
    link(rel="stylesheet", href="./css/about.css")

block content
    include ../parts/preloader
    include ../parts/humburger-menu
    
    .wrapper
        include ../parts/hero
        
        section.about-head
            svg(viewbox="0 0 1000 110" preserveAspectRatio="none").about-head__triangle.about-head__triangle_left
                polygon(points="0,0 0,110 1000, 110")
            svg(viewbox="0 0 1000 110" preserveAspectRatio="none").about-head__triangle.about-head__triangle_right
                polygon(points="0,110 1000,110 1000,0")

        section.section.about
            .about__col.about__col_left
                
                div(class="about__col-content" id="about__col-content")
                    .about__col-title
                        .section-title
                            | Обо мне
                    .about__info
                        .about__pic
                            img(src="../img/about.jpg" alt="").about__pic-img
                        .about__title
                            .block-title Кто я
                        .block-text
                            p Меня зовут Сергей. Занимаюсь разработкой современных сайтов и приложений. Люблю делать интересные и современные проекты.
                            p Этот сайт я сделал используя следующие технологии:
                            ul.about__technology
                                li JavaScript
                                li node.js
                                li jQuery
                                li HTML5 / CSS3
                                li mongodb
                                li pug / sass
                                li Webpack

            .about__col.about__col_right
                .about__col-content
                    .skills
                        .skills__title
                            .block-title Чем я могу быть вам полезен
                        .skills__text
                            p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
                        ul.skills-group
                            - var skills = [{"Frondend": ["JavaScript", "jQuery", "HTML", "CSS", "SCSS", "PUG"]},{"Backend": ["node.js", "Mongo.db"]}, {"WorkFlow": ["Webpack", "Git"]}, {"Design": ["Illustrator", "Photoshop"]}]
                            each skill in skills
                                each skillsArray, skillName in skill
                                    li.skills-group__item
                                        .skill-section
                                            .skills-group__title= skillName
                                            ul.skills-list
                                                each skillTitle in skillsArray
                                                    li.skills-list__item
                                                        .skill
                                                            svg(viewbox="0 0 100 100" preserveAspectRatio="none").skill__circle
                                                                circle(cx="50" cy="50" r="40").skills__circle-under
                                                                circle(cx="50" cy="50" r="40").skills__circle-above
                                                            .skill__title= skillTitle
        include ../parts/map
        include ../parts/footer
        
    script(type="text/javascript", src="js/common.js")
    script(type="text/javascript", src="js/about.js")