extends ../main-layout

block link
    link(rel="stylesheet", href="./css/admin.css")

block content
  include ../parts/preloader
  
  .status
    .status__text Сообщение отправлено
    .status__btn Закрыть
  
  .admin
    section.admin-header
        .wrapper
            h1.admin-title Панель администрирования
            a(href="index" class="admin-header__link") Вернуться на сайт
            
    section.skillsTabs
        .containerTabs
            .tabs
                .tab Обо мне
                .tab Блог
                .tab Мои работы
            .tab_content
                .wrapper
                    .tab_item
                        h2.tab_item-title Страница «Обо мне»
                        form#formForAboutMe-admin(method="POST" action="admin")
                            .formForAboutMe__blocks
                                .formForAboutMe__block
                                    h3.tab_item-direction Frontend
                                    table.admin__table
                                        tr
                                            td JavaScript
                                            td
                                                input(type="text" class="table__input" name="javascript")
                                            td %
                                        tr
                                            td jQuery
                                            td
                                                input(type="text" class="table__input" name="jquery")
                                            td %
                                        tr
                                            td HTML
                                            td
                                                input(type="text" class="table__input" name="html")
                                            td %
                                        tr
                                            td CSS
                                            td
                                                input(type="text" class="table__input" name="css")
                                            td %
                                        tr
                                            td Scss
                                            td
                                                input(type="text" class="table__input" name="scss")
                                            td %
                                        tr
                                            td Pug
                                            td
                                                input(type="text" class="table__input" name="pug")
                                            td %
                                .formForAboutMe__block
                                    h3.tab_item-direction Workflow
                                    table.admin__table
                                        tr
                                            td Git
                                            td
                                                input(type="text" class="table__input" name="git")
                                            td %
                                        tr
                                            td Webpack
                                            td
                                                input(type="text" class="table__input" name="webpack")
                                            td %
                                .formForAboutMe__block
                                    h3.tab_item-direction Backend
                                    table.admin__table
                                        tr
                                            td node.js
                                            td
                                                input(type="text" class="table__input" name="node")
                                            td %
                                        tr
                                            td Mongo.db
                                            td
                                                input(type="text" class="table__input" name="mongo")
                                            td %
                                .formForAboutMe__block
                                    h3.tab_item-direction Design
                                    table.admin__table
                                        tr
                                            td Illustrator
                                            td
                                                input(type="text" class="table__input" name="illustrator")
                                            td %
                                        tr
                                            td Photoshop
                                            td
                                                input(type="text" class="table__input" name="photoshop")
                                            td %
                                            
                            button(type="submit" class="formAdmin-btn") Сохранить
                            
                    .tab_item 
                        h2.tab_item-title Страница «Блог»
                        form#formForblog-admin(method="POST" action="admin/addpost")
                            h3.tab_item-direction Добавить запись
                            input(type="text" placeholder="Название" class="formAdmin__input" name="title")
                            input(type="date" placeholder="Дата" class="formAdmin__input" name="date")
                            textarea(placeholder="Содержание" name="text" class="formForblog__textarea")
                            button(type="submit" class="formAdmin-btn") Добавить
                    .tab_item
                        h2.tab_item-title Страница «Мои работы»
                        form#formForWorks-admin(method="POST" enctype="multipart/form-data" action="/admin/upload")
                            h3.tab_item-direction Добавить работу
                            input(type="text" placeholder="Название проекта" class="formAdmin__input adminNameProject" name="name")
                            input(type="text" placeholder="Технологии" class="formAdmin__input adminTechProject" name="technologies")
                            input(type="file" class="formAdmin__file" id="formAdmin__file" name="photo" accept="image/*")
                            label(for="formAdmin__file") Загрузить картинку
                            .helper-block
                            input(type="submit" class="formAdmin-btn" value="Добавить")

    
      
        

  script(type="text/javascript", src="js/common.js")
  script(type="text/javascript", src="js/admin.js")