extends ../main-layout



block content
  include ../parts/preloader
  
  h1 Блог
  ul.article-wrap
  
  script(type="text/javascript", src="js/common.js")
  script(type="text/javascript", src="js/index.js")