* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

.wrapper {
	min-height: calc(100vh - 109px);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
    @extend %clearfix;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button, input[type=button] {
	cursor: pointer;
}

h2 {
    font: 1.9em $font-geometria-medium;
    color: $color_dark;
    margin: 0;
    float: left;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (max-width: 1580px) {
    .wrapper {
	    margin-left: 8%;
    }
}

@media screen and (max-width: 1470px) {
    .wrapper {
	    margin-left: 12%;
    }
    
    .container {
        max-width: 1000px;
    }
}

@media screen and (max-width: 1340px) {
    .container {
        max-width: 950px;
    }
}

@media screen and (max-width: 1250px) {
    .wrapper {
	    margin-left: 17%;
        
        .container {
            max-width: 950px;
        }
    }
    
    .container {
        max-width: 900px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
	    padding: 0 2%;
    }
    
    .wrapper {
	    margin-left: 15%;
    }
}

@media screen and (max-width: 1190px) {
    .container {
        max-width: 800px;
    }
    
    .money__arrow-block {
        top: 126px !important;
    }
    
    .money__arrow-text {
        width: 195px !important;
        left: -161px !important;
    }
    
    .header__arrow-block {
        width: 185px !important;
        top: 25px !important;
    }
}

@media screen and (max-width: 1140px) {
    .wrapper {        
        .container {
            max-width: 900px;
        }
    }
}

@media screen and (max-width: 1080px) {
    body {
        font-size: 0.8em;
    }
    
    .container {
	    max-width: 700px;
    }
    
    .money__arrow-block {
        top: 102px !important;
    }
    
    .wrapper {
        min-height: calc(100vh - 76px);
        
        .container {
            max-width: 850px;
        }
    }
}

@media screen and (max-width: 1050px) {
    .wrapper {        
        .container {
            max-width: 800px;
        }
    }
}

@media screen and (max-width: 1010px) {
    .wrapper {
	    margin-left: 17%;
    }
}

@media screen and (max-width: 980px) {
    .header__arrow-block {
        right: 226px !important;
    }
}

@media screen and (max-width: 960px) {
//    .wrapper {        
//        .container {
//            max-width: 600px;
//        }
//    }
    
    .container {
        max-width: 665px;
    }
}

@media screen and (max-width: 940px) {
    .wrapper {     
        margin-left: 19%;
        
        .container {
            max-width: 720px;
        }
    }   
}

@media screen and (max-width: 935px) {
    .container {
	    max-width: 600px;
    }
}

@media screen and (max-width: 900px) {
    .wrapper {     
        margin-left: 22%;
        
        .container {
            max-width: 660px;
        }
    }   
}

@media screen and (max-width: 860px) {
    .wrapper {
	    margin-left: 21%;
    }
    
    .wrapper {             
        .container {
            max-width: 600px;
        }
    }
    
    .container {
	    max-width: 570px;
    }
    
    .money__arrow-block {
        top: 105px !important;
    }

    .money__arrow-text {
        width: 155px !important;
        left: -120px !important
    }
    
    .money__arrow-text {
        top: 55px !important;
    }
}

@media screen and (max-width: 850px) {
    body {
        font-size: 0.7em;
    }
    
    .money__arrow-text {
        top: 39px !important;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
	    margin-left: auto;
        min-height: calc(100vh - 38px);
    }
    
    .container {
	    max-width: 95%;
    }
    
    .header .container, .wrapper .container, .footer .container {
        max-width: 100%;
    }
}






















