.header {    
    margin-bottom: 1.325em;
    
    .container {
        padding: 2em 0 1.1875em;
	    border-bottom: 1px solid $line;
        position: relative;
    }
    
    h2 {
        line-height: 53px;
    }
}

// ===== header__menu =====
.header__menu {
	width: 240px;
    height: 53px;
    float: right;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 13px 0 rgba(255, 174, 0, 0.26);
    position: relative;
}

//header__menu-block-1
.header__menu-block-1 {
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background: #ffa900; /* Old browsers */
    background: -moz-linear-gradient(left, #ffa900 0%, #fa9616 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa900 0%,#fa9616 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa900 0%,#fa9616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa900', endColorstr='#fa9616',GradientType=1 ); /* IE6-9 */
    @extend %clearfix;
    
    button {
        height: 100%;
        outline: none;
        display: block;
        float: left;
        background: none;
    }
}

.regisWindow {
    width: 70%;
    color: #fff;
    border: none;
    border-right: 2px solid #ffc87b;
    font: 1.125em $font-geometria-light;
}

.header__menu-list {
    width: 30%;
    border: none;
}

.header__menu.notHidden {
    overflow: visible;
    
    img {
        transform: rotate(180deg);
    }
}

//header__menu-block-2
.header__menu-block-2 {
    width: 100%;
    display: none;
    position: absolute;
    z-index: 2;
    border-top: 2px solid #ffc87b;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background: #ffba33; /* Old browsers */
    background: -moz-linear-gradient(left, #ffba33 0%, #fbab45 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffba33 0%,#fbab45 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffba33 0%,#fbab45 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba33', endColorstr='#fbab45',GradientType=1 ); /* IE6-9 */
    
    button {
        font: 1.125em $font-geometria-medium;
        color: #fff;
        display: block;
        border: none;
        background: none;
        padding: 0.7em 1.44em;
    }
}

.header__menu-block-2.notHidden {
    display: block;
}

// ===== header__arrow-block =====
.header__arrow-block {
    width: 230px;
    position: absolute;
    top: 40px;
    right: 240px;
    
    div {
        display: inline-block;
    }
}

.header__arrow-text {
    font: 2.25em $font-swanky;
    background: linear-gradient(90deg, #ffa900, #fa9616);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-shadow: 0 4px 13px rgba(255, 174, 0, 0.26);
    transform: rotate(-5deg);
}

.header__arrow {
    position: absolute;
    top: 30px;
}

@media screen and (max-width: 1200px) {
    .header {    
        .container {
            padding-left: 2%;
            padding-right: 2%;
        }
    }
}

@media screen and (max-width: 1190px) {
    .regisWindow {
        font-size: 16px;
    }
}

@media screen and (max-width: 980px) {
    .header__arrow-block {
        right: 206px;
    }
}

@media screen and (max-width: 850px) {
    .header__arrow-block {
        right: 182px;
    }
}

@media screen and (max-width: 800px) {
    .header__arrow-block {
        display: none;
    }
    
    .header {    
        h2 {
            line-height: 1;
        }
    }
    
    .header__menu {
        display: none;
    }
}











