// ===== add-block__btn =====
.add-block__btn {
    width: 264px;
    height: 3em;
    float: right;
    font: 16px $font-geometria-light;
    color: #fff;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2.43em;
    box-shadow: 0 4px 13px 0 rgba(49, 103, 201, 0.26);
    outline: none;
    @extend %clearfix;
    
    div {
        height: 100%;
        position: relative;
        float: left;
        
        &:first-child {
            width: 72.7%;
            border-right: 2px solid rgba(255, 255, 255, 0.45);
            background: #3875dc; /* Old browsers */
            background: -moz-linear-gradient(left, #3875dc 0%, #316bd8 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #3875dc 0%,#316bd8 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #3875dc 0%,#316bd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875dc', endColorstr='#316bd8',GradientType=1 ); /* IE6-9 */
        }
        
        &:last-child {
            width: 27.3%;
            background: #2056b8 url("../img/plus.png") no-repeat center;
        }
    }
    
    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
}


// ===== add-block__arrow-block =====
.add-block__arrow-block {
    position: absolute;
    top: 53%;
    right: 290px;
    @extend %clearfix;
    
    div {
        float: left;
    }
}

.add-block__arrow-text {
    margin-right: 0.5em;
    font: 2.25em $font-swanky;
    background: linear-gradient(90deg, #ffa900, #fa9616);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    text-shadow: 0 4px 13px rgba(255, 174, 0, 0.26);
    transform: rotate(-4deg);
}

@media screen and (max-width: 800px) {
    .add-block__btn {
        font-size: 14px;
    }
    
    .add-block__arrow-block {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .add-block__btn {
        float: none;
        width: 100%;
    }
}





















