.newPayout {
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999999999999;
    @extend %clearfix;
        
    h2 {
        float: left;
        line-height: 54px;
    }
}

// ===== newPayout__line =====
.newPayout__line {
    margin-bottom: 1.5em;
    
    &-2 {
        padding: 1.75em 1.875em;
        border: 1px solid #c9c9c9;
        border-radius: 8px;
    }
}

// ===== newPayout__buttons =====
.newPayout__buttons {
    margin-top: 1.5em;
    @extend %clearfix;
    
    button {
        width: 150px;
        height: 54px;
        float: right;
        border: none;
        font-family: $font-geometria-light;
        outline: none;
    }
}

.newPayout__save {
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 13px 0 rgba(255, 174, 0, 0.26);
    background: #ffa900; /* Old browsers */
    background: -moz-linear-gradient(left, #ffa900 0%, #fa9616 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa900 0%,#fa9616 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa900 0%,#fa9616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa900', endColorstr='#fa9616',GradientType=1 ); /* IE6-9 */
}

.newPayout__cansel {
    font-size: 24px;
    color: rgba(46, 62, 79, 0.5);
    background: none;
}


// ===== newPayout__block =====
.newPayout__block {
    width: 320px;
    margin: 0 auto;
}

// ===== newPayout__block-field =====
.newPayout__block-field {
    margin-bottom: 0.875em;
    
    &:nth-last-child(2) {
        margin-bottom: 0;
    }
}

//newPayout__block-name
.newPayout__block-name {
    font: 14px $font-geometria-light;
    color: #2e3e4f;
    margin-bottom: 0.57em;
}

.newPayout__block-input {
    width: 100%;
    display: block;
    border: none;
    background: #bcd7ec;
    border-radius: 8px;
    font: 16px $font-geometria-bold;
    color: #2e3e4f;
    padding: 0.8125em 1.1575em;
    text-transform: uppercase;
    outline: none;
    
    &-2 {
        background: none;
        border: 2px solid #bcd7ec;
    }
    
    &-3 {
        width: 75%;
        float: left;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
}

//newPayout__block-field-inner
.newPayout__block-field-inner {
    @extend %clearfix;
}

//newPayout__block-currency
.newPayout__block-currency {
    width: 25%;
    height: 50px;
    float: left;
    font: 16px $font-geometria-bold;
    color: #2e3e4f;
    text-transform: uppercase;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background: #bcd7ec;
    text-align: center;
    
    span {
        line-height: 50px;
    }
}


// ===== add-block__btn =====
.newPayout__block__btn {
    width: 100%;
    height: 3em;
    margin-top: 1.375em;
    font: 16px $font-geometria-light;
    color: #fff;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 13px 0 rgba(49, 103, 201, 0.26);
    outline: none;
    @extend %clearfix;
    
    div {
        height: 100%;
        position: relative;
        float: left;
        
        &:first-child {
            width: 72.7%;
            border-right: 2px solid rgba(255, 255, 255, 0.45);
            background: #3875dc; /* Old browsers */
            background: -moz-linear-gradient(left, #3875dc 0%, #316bd8 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #3875dc 0%,#316bd8 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #3875dc 0%,#316bd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875dc', endColorstr='#316bd8',GradientType=1 ); /* IE6-9 */
        }
        
        &:last-child {
            width: 27.3%;
            background: #2056b8 url("../img/plus.png") no-repeat center;
        }
    }
    
    span {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
}


// ===== newPayout__currency=====
.newPayout__currency {
    margin-bottom: 2em;
    @extend %clearfix;
    
    input {
        display: none;        
    }
    
    input:checked + label {
        border: none;
        color: #fff;
        padding-top: calc(1em + 3px);
        padding-bottom: calc(1em + 3px);
        background: #ffa900; /* Old browsers */
        background: -moz-linear-gradient(left, #ffa900 0%, #fa9616 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #ffa900 0%,#fa9616 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #ffa900 0%,#fa9616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa900', endColorstr='#fa9616',GradientType=1 ); /* IE6-9 */
    }
    
    label {
        width: 48%;
        cursor: pointer;
        border: 3px solid #fa9715;
        border-radius: 8px;
        display: block;
        float: left;
        font: 16px $font-geometria-light;
        box-shadow: 0 4px 13px 0 rgba(255, 174, 0, 0.26);
        color: #ffa008;
        text-align: center;
        padding: 1em 0;
        margin-bottom: 0;
        
        &:first-of-type {
            margin-right: 4%;
        }
    }
}

// ===== media =====
@media screen and (max-width: 1190px) {
    .newPayout {
        font-size: 14px;
    }
}

@media screen and (max-width: 950px) {
    .newPayout {
        .container {
	        max-width: 80%;
        }
    }
}

@media screen and (max-width: 950px) {
    .newPayout {
        .container {
	        max-width: 95%;
        }
    }
}

@media screen and (max-width: 800px) {
    
}

@media screen and (max-width: 650px) {
    .newPayout {        
        h2 {
            float: none;
        }
    }
    
    .newPayout__buttons {
        button {
            float: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .newPayout__block {
        width: 100%;
    }
    
    .newPayout__currency label {
        width: 100%;
        float: none;
        margin-right: 0;
        
        &:first-of-type {
            margin-bottom: 1em;
        }
    }
}

@media screen and (max-width: 400px) {
    .newPayout__buttons {
        button {
            width: 100%;
        }
    }
}



















