.settlement {
    margin-bottom: 5.625em;
    
    h2 {
        margin-bottom: 0.77em;
        float: none;
    }
}

.settlement__block {
    padding: 2.25em;
    background: url(../img/border2.png) no-repeat;
    background-size: 100% 100%;
}

// ===== settlement__table =====
.settlement__table {
    width: 100%;
    border-collapse: collapse;
    
    
    th {
        text-align: left;
        text-transform: uppercase;
        font: 1.5em $font-geometria-bold;
        color: rgba(46, 62, 79, 0.56);
        padding-bottom: 1em;
        border-bottom: 1px solid #a2a2a2;
        
        &:nth-child(3) {
            width: 30%;
        }
        
        &:nth-child(4) {
            width: 14%;
        }
        
        &:last-child {
            text-align: right;
        }
    }
    
    td {
        font: 1.125em $font-geometria-bold;
        color: #2e3e4f;
        padding: 1em 0;
        border-bottom: 1px solid $line;
        
        &:last-child {
            text-align: right;
            color: #87c42e;
            text-transform: uppercase;
        }
    }
    
    .invoiceId a {
        color: #1c84d9;
        text-transform: uppercase;
    }
    
    .invoiceNumber a {
	    color: #2e3e4f;
    }
    
    tbody {        
        tr {
            transition: 0.3s all;
            
            &:hover {
                background: #f5f5f5;
            }
        }

        tr:last-child td {
            border: none;
        }
    }
}


// ===== numbering =====
.numbering {
    width: 150px;
    margin: 2em auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    li {
        border-radius: 50%;
    }
    
    button {
        border: none;
        background: none;
        line-height: 29px;
        width: 29px;
        height: 29px;
        text-align: center;
        cursor: pointer;
        font: 1.125em $font-geometria-bold;
        color: #2e3e4f;
        outline: none;
    }
}

.numbering__item-choise {
    background: #ffa900; /* Old browsers */
    background: -moz-linear-gradient(left, #ffa900 0%, #fa9715 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa900 0%,#fa9715 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa900 0%,#fa9715 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa900', endColorstr='#fa9715',GradientType=1 ); /* IE6-9 */
    box-shadow: 0 4px 13px 0 rgba(255, 174, 0, 0.26);
    
    button {
        color: #fff;
    }
}



@media screen and (max-width: 1470px) {
    .settlement__table {
        th {
            font-size: 1em;
        }
        
        td {
            font: 0.9em $font-geometria;
        }
    }
}

@media screen and (max-width: 1300px) {
    .money__arrow-text {
        width: 398px;
    }
}

@media screen and (max-width: 1200px) {
    .money__arrow-text {
        width: 300px;
    }
}

@media screen and (max-width: 900px) {
    .money__arrow-text {
        width: 264px;
    }
}

@media screen and (max-width: 800px) {
    .settlement__block {
        background: none;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .settlement__table {
        th {
            &:first-child {
                width: 21%;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .settlement__table {
        td {
            padding: 3em 0;
        }
    }
}

@media screen and (max-width: 440px) {
    .settlement__table {
		overflow-x: auto;
		display: block;
	}
}




















