.header {    
    margin-bottom: 1.325em;
    
    .container {
        padding: 2em 0 1.1875em;
	    border-bottom: 1px solid $line;
        position: relative;
    }
    
    h2 {
        line-height: 53px;
    }
}

// ===== header__menu =====
.header__menu {
	width: 240px;
    height: 53px;
    float: right;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 13px 0 rgba(255, 174, 0, 0.26);
    background: #ffa900; /* Old browsers */
    background: -moz-linear-gradient(left, #ffa900 0%, #fa9616 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa900 0%,#fa9616 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa900 0%,#fa9616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa900', endColorstr='#fa9616',GradientType=1 ); /* IE6-9 */
    
    p {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: #fff;
        font: 18px $font-geometria-light;
    }
}

@media screen and (max-width: 1200px) {
    .header {    
        .container {
            padding-left: 2%;
            padding-right: 2%;
        }
    }
}

@media screen and (max-width: 1000px) {
    .header__menu p {
        font-size: 16px;
    }
}

@media screen and (max-width: 800px) {
    .header__menu {
        float: none;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .header {    
        h2 {
            float: none;
            line-height: 1;
            margin-bottom: 2em;
        }
    }
    
    .header__menu {
        width: 100%;
        margin: 0;
        margin-bottom: 1em;
    }
}










