.authorization {
    width: 410px;
    margin: 0 auto;
}

// ===== logo =====
.logo {
    height: 9.375em;
    border: $border;
    border-radius: 8px;
    margin-bottom: 5em;
    position: relative;
    
    span {
        font: 1.5em $font-geometria;
        color: $color_dark;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
}

// ===== form =====
input {
    display: block;
    border: none;
    outline: none;
    background: none;
}

.form__field {
    border: $border;
    border-radius: 6px;
    margin-bottom: 0.8125em;
    padding: 0.5em 1.5em;
    
    input {
        font: 0.875em $font-geometria-light;
        color: $color_dark;
        width: 90%;
        border-right: 1px solid #bcd7ec;
        padding: 0.2em 1.5em 0.2em 0;
        
        &::-webkit-input-placeholder {
            font: 0.875em $font-geometria-light;
            color: $color_dark;
        }
        &::-moz-placeholder          {
            font: 0.875em $font-geometria-light;
            color: $color_dark;
        }
        &:-moz-placeholder           {
            font: 0.875em $font-geometria-light;
            color: $color_dark;
        }
        &:-ms-input-placeholder      {
            font: 0.875em $font-geometria-light;
            color: $color_dark;
        }
    }
    
    &:first-of-type {
        background: url("../img/user.png") no-repeat;
        background-position: 93% center;
    }
    
    &:last-of-type {
        background: url("../img/pass.png") no-repeat;
        background-position: 93% center;
    }
}

.logIn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font: 1.125em $font-geometria-medium;
    padding: 0.88em 0;
    border-radius: 8px;
    box-shadow: 0 4px 13px 0 rgba(255, 174, 0, 0.26);
    transition: 0.3s all;
    margin-bottom: 1.11em;
    background: #ffa900; /* Old browsers */
    background: -moz-linear-gradient(left, #ffa900 0%, #f99616 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffa900 0%,#f99616 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffa900 0%,#f99616 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa900', endColorstr='#f99616',GradientType=1 ); /* IE6-9 */
    
    &:hover {
        box-shadow: 0 6px 15px 4px rgba(255, 174, 0, 0.26);
    }
}

// ===== forgotPass =====
.forgotPass {
    font: 0.875em $font-geometria-light;
    color: $color_dark;
    
    &:hover {
        text-decoration: underline;
    }
}

@media screen and (max-width: 600px) {
    .authorization {
        width: 90%;
    }
}

@media screen and (max-width: 500px) {
    .authorization {
        width: 95%;
    }
    
    .logo {
        margin-bottom: 2.5em;
    }
}

@media screen and (max-width: 400px) {
    .logo {
        margin-bottom: 1.5em;
    }
    
    .footer__links {
        margin-bottom: 0 !important;
    }
}



























